<div id="site-content" class="site-content">
				
	<div class="content-header content-header-left content-header-featured wrap">
		<div class="content-header-inner wrap">
			<div class="page-title-wrap">

									<div class="page-title">
						<h1 class="page-title-inner">OUR SERVICES &amp; FUNCTIONS</h1>					</div>
				
				
							</div>
		</div>
	</div>

				<div id="content-body" class="content-body">
					<div class="content-body-inner wrap">
							<!-- The main content -->
							<main id="main-content" class="main-content" itemprop="mainContentOfPage">
								<div class="main-content-inner">					<div class="content">
<div class="wpb-content-wrapper"><div style="" class="vc_row wpb_row vc_row-fluid">
	<div class="row-inner">
		<div class="wpb_column vc_column_container vc_col-sm-4">
			<div class="vc_column-inner">
				<div class="wpb_wrapper">
<!-- BEGIN .imagebox -->
<div class="imagebox   vc_custom_1685337805955">
	
		<div class="box-header">
			<h3 class="box-title">
				<a href="" target="_self">
					1.	Regulation and Standardization			</a>
			</h3>

					</div>

		<div class="box-content"></div>

		<div class="box-image">
			<a href="" target="_self">
									<div class="box-button button">	
						<span>Find Out More</span><i class="ion-log-in"></i>
					</div>
				
				<img decoding="async" class="" src="/img/img77.jpg" width="800" height="350" alt="Inspection" title="Inspection" loading="lazy" />			</a>
		</div>
	</div>
<!-- End .imagebox -->

<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div>
<!-- BEGIN .imagebox -->
<div class="imagebox   vc_custom_1685337815433">
	
		<div class="box-header">
			<h3 class="box-title">
				<a href="" target="_self">
					Environmental Impact Assessments (EIA)				</a>
			</h3>

					</div>

		<div class="box-content"></div>

		<div class="box-image">
			<a href="" target="_self">
									<div class="box-button button">	
						<span>Find Out More</span><i class="ion-log-in"></i>
					</div>
				
				<img decoding="async" class="" src="/img/img4.jpg" width="800" height="350" alt="Marketing Authrisation" title="Marketing Authrisation" loading="lazy" />			</a>
		</div>
	</div>
<!-- End .imagebox -->
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
<!-- BEGIN .imagebox -->
<div class="imagebox   vc_custom_1685337822443">
	
		<div class="box-header">
			<h3 class="box-title">
				<a href="" target="_self">
					Licensing & Certification			</a>
			</h3>

					</div>

		<div class="box-content"></div>

		<div class="box-image">
			<a href="" target="_self">
									<div class="box-button button">	
						<span>Find Out More</span><i class="ion-log-in"></i>
					</div>
				
				<img decoding="async" class="" src="/img/img33.jpg" width="800" height="350" alt="Quality_Testing" title="Quality_Testing" loading="lazy" />			</a>
		</div>
	</div>
<!-- End .imagebox -->
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">

 <!-- BEGIN .imagebox -->
<div class="imagebox   vc_custom_1685337831443">
	
	<div class="box-header">
		<h3 class="box-title">
			<a href="" target="_self">
				Monitoring & Compliance			</a>
		</h3>

				</div>

	<div class="box-content"></div>

	<div class="box-image">
		<a href="" target="_self">
								<div class="box-button button">	
					<span>Find Out More</span><i class="ion-log-in"></i>
				</div>
			
			<img decoding="async" class="" src="/img/img44.jpeg" width="800" height="350" alt="Quality_Testing" title="Quality_Testing" loading="lazy" />			</a>
	</div>
</div>
<!-- End .imagebox -->
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">

 <!-- BEGIN .imagebox -->
<div class="imagebox   vc_custom_1685337822443">
	
	<div class="box-header">
		<h3 class="box-title">
			<a href="" target="_self">
				Training & Capacity Building		</a>
		</h3>

				</div>

	<div class="box-content"></div>

	<div class="box-image">
		<a href="" target="_self">
								<div class="box-button button">	
					<span>Find Out More</span><i class="ion-log-in"></i>
				</div>
			
			<img decoding="async" class="" src="/img/img55.jpg" width="800" height="350" alt="Quality_Testing" title="Quality_Testing" loading="lazy" />			</a>
	</div>
</div>
<!-- End .imagebox -->
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">

 <!-- BEGIN .imagebox -->
<div class="imagebox   vc_custom_1685337822443">
	
	<div class="box-header">
		<h3 class="box-title">
			<a href="" target="_self">
				Public Awareness & Advocacy 			</a>
		</h3>

				</div>

	<div class="box-content"></div>

	<div class="box-image">
		<a href="" target="_self">
								<div class="box-button button">	
					<span>Find Out More</span><i class="ion-log-in"></i>
				</div>
			
			<img decoding="async" class="" src="/img/img66.jpeg" width="800" height="350" alt="Quality_Testing" title="Quality_Testing" loading="lazy" />			</a>
	</div>
</div>
<!-- End .imagebox -->
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid vc_custom_1513242459608 vc_row-o-content-middle vc_row-flex"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<!-- <p style="text-align: justify;"><strong>The functions of the Authority, as stipulated by the Engineering and Infrastructure Safety Act (No. 12) of 2024, are to: </strong></p> -->
<ol>
<li style="text-align: justify;">Grant Engineering Licenses and Project Approvals: Issue licenses and approvals for engineering projects and professional practices to ensure compliance with established standards.</li>
<li style="text-align: justify;">Inspect Engineering Sites and Facilities: Conduct inspections of sites and premises involved in the design, construction, maintenance, or decommissioning of engineering projects to ensure adherence to regulatory guidelines. </li>
<li style="text-align: justify;">Regulate and Control Engineering Practices: Oversee and enforce standards for the planning, design, construction, maintenance, and decommissioning of engineering projects to uphold safety and sustainability. </li>
<li style="text-align: justify;">Monitor the Advertisement and Promotion of Engineering Services: Regulate the advertising and promotion of engineering services and projects to prevent misleading information and ensure transparency. </li>
<li style="text-align: justify;">Register and Regulate Engineering Firms and Professionals: Maintain a registry of licensed engineering firms and certified professionals, ensuring compliance with technical and ethical standards. </li>
<li style="text-align: justify;">Establish and Develop Operational Standards: In consultation with relevant professional bodies, establish, maintain, and develop standards for engineering operations to ensure alignment with national regulations and international best practices. </li>
</ol>

		</div>
	</div>
<div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element" >
		<!-- <div class="wpb_wrapper">
			<p class="text-right" style="text-align: left;"><a class="button" href="https://sarozambia.com/vs/zamra//news-blog/">All  Functions</a></p>

		</div> -->
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="counter  "> <div class="counter-detail">
		<h3 class="counter-content">
			<span class="counter-prefix"></span><span class="counter-value" data-from="0" data-to="4034" data-speed="1000">0</span><span class="counter-suffix">+</span>
		</h3>
	<div class="counter-title">Number of Registered Engineering Firms and Projects </div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="counter  "> <div class="counter-detail">
		<h3 class="counter-content">
			<span class="counter-prefix"></span><span class="counter-value" data-from="0" data-to="10" data-speed="1000">0</span><span class="counter-suffix">+</span>
		</h3>
	<div class="counter-title">Total Number of Certified Engineering Standards and Guidelines </div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="counter  "> <div class="counter-detail">
		<h3 class="counter-content">
			<span class="counter-prefix"></span><span class="counter-value" data-from="0" data-to="1023" data-speed="1000">0</span><span class="counter-suffix">+</span>
		</h3>
	<div class="counter-title">Total Number of Licensed Contractors and Professionals </div></div></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid vc_custom_1513243049899"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner">
		<!-- <div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex">
			<div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner">
				<div class="wpb_wrapper"><h2 style="text-align: left" class="vc_custom_heading vc_do_custom_heading" >LATEST UPDATES</h2><div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text wpb_content_element  wpb_content_element" ><span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:rgb(2,6,32);border-color:rgba(2,6,32,0.1);" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span style="border-color:rgb(2,6,32);border-color:rgba(2,6,32,0.1);" class="vc_sep_line"></span></span>
</div><div class="vc_empty_space"   style="height: 50px"><span class="vc_empty_space_inner"></span></div> -->
	<!-- <div class="blog-shortcode  has-post-content post-date-cover">
		
		<div class="blog-entries">
							<div class="entries-wrapper content-inner blog-grid" data-grid="{&quot;itemSelector&quot;:&quot;.post&quot;}" data-columns="4">
											
				<div class="post post-3113 type-post status-publish format-standard has-post-thumbnail hentry category-news">
					<div class="post-inner">		
													
							
								
								<div class="post-image">
									<a class="featured-image" href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/">
										<h2 class="post-title">
											ZAMRA SIGNS A MEMORUNDUM OF UNDERSTANDING WITH THE EGYPTIAN DRUG AUTHORITY (EDA)										</h2>
										<div class="post-date">
											<span>June 7, 2024</span>
										</div>
									</a>
								</div>
							

							
						
						
												
							<div class="post-content">
								<p>
									5TH June, 2024. The Zambia Medicines Regulatory Authority (ZAMRA) has signed a Memorandum of Understanding (MoU) with its Egyptian counterpa...								</p>

															</div>

											</div>		
				</div>

								
				<div class="post post-3081 type-post status-publish format-standard has-post-thumbnail hentry category-news">
					<div class="post-inner">		
													
							
								
								<div class="post-image">
									<a class="featured-image" href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/">
										<h2 class="post-title">
											DEC AND ZAMRA AGREE ON WAY FORWARD WITH REGARDS THE REGULATION AND CONTROL OF CODEINE CONTAINING COUGH SYRUPS										</h2>
										<div class="post-date">
											<span>April 10, 2024</span>
										</div>
									</a>
								</div>
							

							
						
						
												
							<div class="post-content">
								<p>
									The Drug Enforcement Commission (DEC) has visited the Zambia Medicines Regulatory Authority (ZAMRA) to chat the way forward in the effective...								</p>

															</div>

											</div>		
				</div>

								
				<div class="post post-3077 type-post status-publish format-standard has-post-thumbnail hentry category-news">
					<div class="post-inner">		
													
							
								
								<div class="post-image">
									<a class="featured-image" href="https://www.zamra.co.zm/2024/04/09/zamra-shares-knowledge-on-use-of-online-system-with-medicines-control-authority-of-zimbabwe-mcaz/">
										<h2 class="post-title">
											ZAMRA SHARES KNOWLEDGE ON USE OF ONLINE SYSTEM WITH MEDICINES CONTROL AUTHORITY OF ZIMBABWE (MCAZ)										</h2>
										<div class="post-date">
											<span>April 9, 2024</span>
										</div>
									</a>
								</div>
							

						
												
							<div class="post-content">
								<p>
									THE ZAMBIA MEDICINES REGULATORY AUTHORITY (ZAMRA) SHARES KNOWLEDGE ON THE USE OF THE INTEGRATED REGULATORY INFORMATION MANAGEMENT SYSTEM (IR...								</p>

															</div>

											</div>		
				</div>

								
				<div class="post post-3069 type-post status-publish format-standard has-post-thumbnail hentry category-news">
					<div class="post-inner">		
													
							
								
								<div class="post-image">
									<a class="featured-image" href="https://www.zamra.co.zm/2024/03/28/zamra-participates-in-pilot-veterinary-global-benchmarking-project/">
										<h2 class="post-title">
											ZAMRA PARTICIPATES IN PILOT VETERINARY GLOBAL BENCHMARKING PROJECT										</h2>
										<div class="post-date">
											<span>March 28, 2024</span>
										</div>
									</a>
								</div>
							

							
						
						
												
							<div class="post-content">
								<p>
									The Veterinary Medicines Directorate (VMD) from the United Kingdom (UK) has picked the Zambia Medicines Regulatory Authority (ZAMRA) to be p...								</p>

															</div>

											</div>		
				</div>

											</div>
		</div>
	</div><div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div> -->
	<!-- <div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<p class="text-right"><a class="button" href="https://www.zamra.co.zm/news-blog/">Read All Articles</a></p>

		</div>
	</div> -->
</div></div></div></div></div>
</div>			</div>
			<!-- /.content -->

													</div>
							<!-- /.main-content-inner -->
						</main>
						<!-- /.main-content -->

							
						</div>
					<!-- /.content-body-inner -->
				</div>
				<!-- /.content-body -->			
			</div>