<div id="site-content" class="site-content">
				
	<div class="content-header content-header-inline content-header-featured wrap">
		<div class="content-header-inner wrap">
			<div class="page-title-wrap">

									<div class="page-title">
						<h1 class="page-title-inner">Legislation</h1>					</div>
				
									<div class="breadcrumbs">
						<div class="breadcrumbs-inner">
							<!-- Breadcrumb NavXT 7.2.0 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to ZAMRA." href="https://www.zamra.co.zm" class="home" ><span property="name">ZAMRA</span></a><meta property="position" content="1"></span><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Legislation</span><meta property="url" content="https://www.zamra.co.zm/legislation/"><meta property="position" content="2"></span>						</div>
					</div>
				
							</div>
		</div>
	</div>

				<div id="content-body" class="content-body">
					<div class="content-body-inner wrap">
							<!-- The main content -->
							<main id="main-content" class="main-content" itemprop="mainContentOfPage">
								<div class="main-content-inner">					<div class="content">
				<div class="wpb-content-wrapper"><div style="" class="vc_row wpb_row vc_row-fluid">
					<div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<div class="elementor-element elementor-element-6fa73a6 elementor-widget elementor-widget-text-editor" data-id="6fa73a6" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix">
<p style="text-align: justify;">The Zambia Engineering Project Regulatory Authority (ZEPRA) is a Statutory Body established 
	under an Act of Parliament, the Engineering and Infrastructure Safety Act No. 12 of 2024, to 
	regulate and oversee the Planning, Design, Construction, Maintenance, and Decommissioning of 
	engineering projects in Zambia.</p>
<p style="text-align: justify;">The primary objective of the Authority is to ensure that all engineering projects comply with set 
	standards of Quality, Safety, and Environmental Sustainability, safeguarding public welfare and 
	natural resources.</p>
<p style="text-align: justify;">Engineering regulation involves a combination of Legal, Administrative, and Technical measures 
	designed to ensure the safety, sustainability, and reliability of engineering projects, as well as the 
	accuracy and relevance of technical documentation. The legal requirements for engineering 
	regulation provide a robust framework for compliance and enforcement of national standards.</p>
<p style="text-align: justify;">ZEPRA incorporates several interrelated activities aimed at promoting sustainable infrastructure 
	development and public safety. This is achieved through various regulatory processes throughout 
	the project lifecycle, including Licensing and Certification, Site Inspections, Complianc
	Monitoring, and Post-Project Evaluations.</p>
<p style="text-align: justify;">
	To support the implementation of the Engineering and Infrastructure Safety Act, the following 
regulations have been developed and are currently in use:
<ul>
	<li>Standards for Structural Integrity</li>
	<li> Environmental Impact Assessment Guidelines</li>
	<li> Energy and Utilities Compliance Regulations</li>
	<li> Safety Standards for Urban Development Projects</li>
</ul>
</p>
</div>
</div>
</div>

		</div>
	</div>
</div></div></div></div></div>
    <div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner">
		<div class="wpb_column vc_column_container vc_col-sm-10"><div class="vc_column-inner">
			<div class="wpb_wrapper">
				   <div class="vc_empty_space"   style="height: 32px"> 
					<span class="vc_empty_space_inner"></span></div>
					<h2 style="font-size: 20px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >REGULATIONS</h2>
					<div class="vc_empty_space"   style="height: 32px"><span class="vc_empty_space_inner"></span></div>
					 <div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-left vc_btn3-color-success" href="https://www.zamra.co.zm/wp-content/uploads/2023/05/Constitution-of-Zambia-Amendment-2016-Act-No.-2_0.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> Act No.2 of 2016 – Constitution of Zambia (Amendment), 2016</a></div><br>
					 <div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-left vc_btn3-color-success" href="https://www.zamra.co.zm/wp-content/uploads/2023/05/MASA-No-3-2013.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> Act No.3 of 2013 – Medicines and Allied Substances Act ,2013</a></div><br>
					 <div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-left vc_btn3-color-success" href="https://www.zamra.co.zm/wp-content/uploads/2023/05/MEDICINES-AND-ALLIED-SUBSTANCES-FEES-SI-NO.38-OF-2016.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> SI No.38 of 2016 – Fees Regulations</a></div><br>
					 <div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-left vc_btn3-color-success" href="https://www.zamra.co.zm/wp-content/uploads/2023/05/Agro-vert-shops-regulations.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> SI No.10 of 2016 – Agro-Veterinay Shop Permit Regulations</a></div><br>
					 <div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-left vc_btn3-color-success" href="https://www.zamra.co.zm/wp-content/uploads/2023/05/dispensing-certificate-regulations.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> SI No.11 of 2016 – Dispensing Certificate Regulations</a></div><br>
					 <div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-left vc_btn3-color-success" href="https://www.zamra.co.zm/wp-content/uploads/2023/05/Healthshop-regulations.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> SI No.12 of 2016 – Health Shop Regulations</a></div><br>
					 <div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-left vc_btn3-color-success" href="https://www.zamra.co.zm/wp-content/uploads/2023/05/SI-No-57-of-2017-Importation-and-Exportation.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> SI No 57 of 2017 Importation and Exportation Regulations</a></div><br>
					 <div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-left vc_btn3-color-success" href="https://www.zamra.co.zm/wp-content/uploads/2023/05/SI-No-58-of-2017-Certificate-of-Registration.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> SI No 58 of 2017 Certificate of Registration</a></div><br>
					 <div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-icon-left vc_btn3-color-success" href="https://www.zamra.co.zm/wp-content/uploads/2023/05/SI-NO.79-of-2019.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> SI No 79 of 2019 The Medicines and Allied Substance Regulations</a></div><br>
					</div>
				</div>
			</div>
			<div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></div>
</div>			</div>
			<!-- /.content -->

													</div>
							<!-- /.main-content-inner -->
						</main>
						<!-- /.main-content -->

							
			<!-- <aside class="main-sidebar">
			<div class="main-sidebar-inner">
				<div id="search-2" class="widget-odd widget-first widget-1 widget widget_search"><h3 class="widget-title">Search</h3><form role="search" method="get" class="search-form" action="https://www.zamra.co.zm/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Search" />
			</form></div>
		<div id="recent-posts-5" class="widget-even widget-2 widget widget_recent_entries">
		<h3 class="widget-title">Latest Updates</h3>
		<ul>
											<li>
					<a href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/">ZAMRA SIGNS A MEMORUNDUM OF UNDERSTANDING WITH THE EGYPTIAN DRUG AUTHORITY (EDA)</a>
											<span class="post-date">June 7, 2024</span>
									</li>
											<li>
					<a href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/">DEC AND ZAMRA AGREE ON WAY FORWARD WITH REGARDS THE REGULATION AND CONTROL OF CODEINE CONTAINING COUGH SYRUPS</a>
											<span class="post-date">April 10, 2024</span>
									</li>
					</ul>

		</div><div id="media_image-42" class="widget-odd widget-3 widget widget_media_image"><img width="300" height="75" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-300x75.png" class="image wp-image-2363  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" decoding="async" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-300x75.png 300w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-1024x255.png 1024w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-768x191.png 768w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_.png 1070w" sizes="(max-width: 300px) 100vw, 300px" /></div><div id="media_image-40" class="widget-even widget-4 widget widget_media_image"><img width="492" height="821" src="https://www.zamra.co.zm/wp-content/uploads/2023/04/Medsafety_app.jpg" class="image wp-image-2449  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" decoding="async" fetchpriority="high" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/04/Medsafety_app.jpg 492w, https://www.zamra.co.zm/wp-content/uploads/2023/04/Medsafety_app-180x300.jpg 180w" sizes="(max-width: 492px) 100vw, 492px" /></div><div id="media_image-16" class="widget-odd widget-5 widget widget_media_image"><img width="650" height="110" src="https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra.png" class="image wp-image-2586  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" decoding="async" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra.png 650w, https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra-300x51.png 300w" sizes="(max-width: 650px) 100vw, 650px" /></div><div id="media_image-43" class="widget-even widget-last widget-6 widget widget_media_image"><img width="300" height="51" src="https://www.zamra.co.zm/wp-content/uploads/2023/05/Pharmacovigillance-Unit-Contact-300x51.png" class="image wp-image-2648  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" decoding="async" loading="lazy" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/05/Pharmacovigillance-Unit-Contact-300x51.png 300w, https://www.zamra.co.zm/wp-content/uploads/2023/05/Pharmacovigillance-Unit-Contact.png 650w" sizes="auto, (max-width: 300px) 100vw, 300px" /></div>			</div>
		</aside> -->
		<!-- /.sidebar -->
						</div>
					<!-- /.content-body-inner -->
				</div>
				<!-- /.content-body -->			
			</div>
