<div id="site-content" class="site-content">
				
	<div class="content-header content-header-left content-header-featured wrap">
		<div class="content-header-inner wrap">
			<div class="page-title-wrap">

									<div class="page-title">
						<h1 class="page-title-inner">ABOUT US</h1>					</div>
				
				
							</div>
		</div>
	</div>

				<div id="content-body" class="content-body">
					<div class="content-body-inner wrap">
							<!-- The main content -->
							<main id="main-content" class="main-content" itemprop="mainContentOfPage">
								<div class="main-content-inner">					<div class="content">
				<div class="wpb-content-wrapper"><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img fetchpriority="high" decoding="async" width="2000" height="1800" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/zamra_BUILDING.jpg" class="vc_single_image-img attachment-full" alt="" title="zamra_BUILDING" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/03/zamra_BUILDING.jpg 2000w, https://www.zamra.co.zm/wp-content/uploads/2023/03/zamra_BUILDING-300x270.jpg 300w, https://www.zamra.co.zm/wp-content/uploads/2023/03/zamra_BUILDING-1024x922.jpg 1024w, https://www.zamra.co.zm/wp-content/uploads/2023/03/zamra_BUILDING-768x691.jpg 768w, https://www.zamra.co.zm/wp-content/uploads/2023/03/zamra_BUILDING-1536x1382.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 5px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<p style="text-align: center;"><strong>ZAMRA Head Office , Lusaka</strong></p>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<!-- BEGIN .imagebox -->
<div class="imagebox style2 ">
	
		<div class="box-header">
			<h3 class="box-title">
				<a href="" target="_self">
					Mission				</a>
			</h3>

							<span class="box-subtitle">
								To develop, enforce, and maintain comprehensive standards for the engineering, structural, and environmental safety of all construction projects in Zambia, ensuring the protection of human life, the environment, and national resources. </div>

		<div class="box-content"></div>

		<div class="box-image">
			<a href="" target="_self">
				
				<img decoding="async" class="" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/Marketing-Authrisation-350x450.jpg" width="350" height="450" alt="Marketing Authrisation" title="Marketing Authrisation" loading="lazy" />			</a>
		</div>
	</div>
<!-- End .imagebox -->
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div>
<!-- BEGIN .imagebox -->
<div class="imagebox style2 ">
	
		<div class="box-header">
			<h3 class="box-title">
				<a href="" target="_self">
					Vision				</a>
			</h3>

							<span class="box-subtitle">
								To be the leading regulatory authority in Zambia, ensuring safe, sustainable, and environmentally responsible engineering practices in all sectors of infrastructure development, from design to implementation. </div>

		<div class="box-content"></div>

		<div class="box-image">
			<a href="" target="_self">
				
				<img decoding="async" class="" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/Quality_Testing-1-350x450.jpg" width="350" height="450" alt="Quality_Testing" title="Quality_Testing" loading="lazy" />			</a>
		</div>
	</div>
<!-- End .imagebox -->
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<p style="text-align: justify;">The Zambia Engineering Project Regulatory Authority (ZEPRA) is a Statutory National Engineering Regulatory Body in Zambia established under an Act of Parliament, the Engineering and Infrastructure Safety Act No. 12 of 2024 of the Laws of Zambia. ZEPRA is mandated to regulate and oversee the Planning, Design, Construction, Maintenance, and Decommissioning of engineering projects, ensuring compliance with national safety and sustainability standards. The primary objective of the Authority is to guarantee that all engineering projects in Zambia adhere to set standards of Quality, Safety, and Environmental Responsibility.</p>

		</div>
	</div>
<div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<p style="text-align: justify;">The history of engineering regulation in Zambia dates back to 1964 with the enactment of the Infrastructure and Development Standards Act, which established initial guidelines for infrastructure safety and development. Over the years, the scope and complexity of engineering projects have grown, necessitating the establishment of a dedicated regulatory authority to ensure that infrastructure development aligns with modern engineering standards and environmental sustainability principles.</p>
<p style="text-align: left;"><a class="button no-bg" href="https://sarozambia.com/vs/zamra//about-company/corporate-responsibility/">Find Out More</a></p>

		</div>
	</div>
<div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 20px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >OFFICE OF THE DIRECTOR GENERAL</h2><div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<p style="text-align: justify;">The role of the Director General (DG) is to set policy direction and ensure effective coordination and integration among departments. This role strengthens internal systems, enhances controls, and improves communication and collaboration for the efficient performance of the Authority.</p>

		</div>
	</div>
<div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 20px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >ENGINEERING REGULATORY SERVICES</h2><div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<p style="text-align: justify;">This department is responsible for overseeing the registration and licensing of engineering projects, conducting post-approval inspections, and ensuring compliance with statutory engineering and safety standards. It also monitors the implementation of projects to uphold quality, safety, and environmental sustainability.</p>

		</div>
	</div>
<div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 20px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >INSPECTION AND COMPLIANCE SERVICES</h2><div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<p style="text-align: justify;">The Directorate of Inspection and Compliance Services ensures the regular monitoring and evaluation of engineering projects to verify adherence to regulatory standards. This includes conducting inspections at various stages of project implementation to mitigate risks and enforce compliance with national and international best practices.</p>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 20px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >CORPORATE SERVICES</h2><div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<p style="text-align: justify;">The Directorate of Corporate Services manages human resources, financial operations, administrative functions, and logistical support to enhance the operational efficiency of the Authority. It also provides secretarial and legal services to ensure compliance with the Engineering and Infrastructure Safety Act and other relevant legislation.</p>

		</div>
	</div>
</div></div></div></div></div>
</div>			</div>
			<!-- /.content -->

													</div>
							<!-- /.main-content-inner -->
						</main>
						<!-- /.main-content -->

<!-- 							
			<aside class="main-sidebar">
			<div class="main-sidebar-inner">
				<div id="search-2" class="widget-odd widget-first widget-1 widget widget_search"><h3 class="widget-title">Search</h3><form role="search" method="get" class="search-form" action="https://www.zamra.co.zm/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Search" />
			</form></div>
		<div id="recent-posts-5" class="widget-even widget-2 widget widget_recent_entries">
		<h3 class="widget-title">Latest Updates</h3>
		<ul>
											<li>
					<a href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/">ZAMRA SIGNS A MEMORUNDUM OF UNDERSTANDING WITH THE EGYPTIAN DRUG AUTHORITY (EDA)</a>
											<span class="post-date">June 7, 2024</span>
									</li>
											<li>
					<a href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/">DEC AND ZAMRA AGREE ON WAY FORWARD WITH REGARDS THE REGULATION AND CONTROL OF CODEINE CONTAINING COUGH SYRUPS</a>
											<span class="post-date">April 10, 2024</span>
									</li>
					</ul>

		</div><div id="media_image-42" class="widget-odd widget-3 widget widget_media_image"><img width="300" height="75" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-300x75.png" class="image wp-image-2363  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" decoding="async" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-300x75.png 300w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-1024x255.png 1024w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-768x191.png 768w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_.png 1070w" sizes="(max-width: 300px) 100vw, 300px" /></div><div id="media_image-40" class="widget-even widget-4 widget widget_media_image"><img width="492" height="821" src="https://www.zamra.co.zm/wp-content/uploads/2023/04/Medsafety_app.jpg" class="image wp-image-2449  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" decoding="async" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/04/Medsafety_app.jpg 492w, https://www.zamra.co.zm/wp-content/uploads/2023/04/Medsafety_app-180x300.jpg 180w" sizes="(max-width: 492px) 100vw, 492px" /></div><div id="media_image-16" class="widget-odd widget-5 widget widget_media_image"><img width="650" height="110" src="https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra.png" class="image wp-image-2586  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" decoding="async" loading="lazy" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra.png 650w, https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra-300x51.png 300w" sizes="auto, (max-width: 650px) 100vw, 650px" /></div><div id="media_image-43" class="widget-even widget-last widget-6 widget widget_media_image"><img width="300" height="51" src="https://www.zamra.co.zm/wp-content/uploads/2023/05/Pharmacovigillance-Unit-Contact-300x51.png" class="image wp-image-2648  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" decoding="async" loading="lazy" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/05/Pharmacovigillance-Unit-Contact-300x51.png 300w, https://www.zamra.co.zm/wp-content/uploads/2023/05/Pharmacovigillance-Unit-Contact.png 650w" sizes="auto, (max-width: 300px) 100vw, 300px" /></div>			</div>
		</aside> -->
		<!-- /.sidebar -->
						</div>
					<!-- /.content-body-inner -->
				</div>
				<!-- /.content-body -->			
			</div>