
<div class="site-header-inner wrap">

    <div class="header-content">
        <div class="header-brand">
            <a href="https://www.zamra.co.zm">
                <img src="https://www.zamra.co.zm/wp-content/uploads/2023/03/zamra_logo_site.png" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/03/zamra_logo_site.png 1x, https://www.zamra.co.zm/wp-content/uploads/2023/03/zamra_logo_site.png 2x" alt="ZAMRA" class="logo logoDefault" />					</a>

                            </div>

                            <nav class="navigator" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

                <ul id="menu-zamra_main_menu" class="menu menu-primary dw-mega-menu-transition-default"><li id="menu-item-1758" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-flyout dw-mega-menu-hover item-1758"><a  href="#">About Us</a>
<ul class="dw-sub-menu">
<li id="menu-item-2165" class="menu-item menu-item-type-post_type menu-item-object-page dw-mega-menu-hover item-2165"><a  href="/overview">Overview</a></li>
<li id="menu-item-2162" class="menu-item menu-item-type-post_type menu-item-object-page dw-mega-menu-hover item-2162"><a  href="/functions">Functions</a></li>
<li id="menu-item-2271" class="menu-item menu-item-type-post_type menu-item-object-page dw-mega-menu-hover item-2271"><a  href="/legislation">Legislation</a></li>
<li id="menu-item-2163" class="menu-item menu-item-type-custom menu-item-object-custom dw-mega-menu-hover item-2163"><a  href="#">Management</a></li>
<li id="menu-item-2164" class="menu-item menu-item-type-custom menu-item-object-custom dw-mega-menu-hover item-2164"><a  href="#">The Board</a></li>
</ul>
</li>
<li id="menu-item-2095" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout dw-mega-menu-hover item-2095"><a  href="/e-services-portal">e-services</a></li>
<li id="menu-item-2214" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout dw-mega-menu-hover item-2214"><a  href="/guildelines">Guidelines</a></li>
<li id="menu-item-2192" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout dw-mega-menu-hover item-2192"><a  href="/forms">Forms</a></li>
<li id="menu-item-2054" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout dw-mega-menu-hover item-2054"><a  href="/registers">Registers</a></li>
<li id="menu-item-2270" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout dw-mega-menu-hover item-2270"><a  href="/fees">Fees</a></li>
<li id="menu-item-2691" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-flyout dw-mega-menu-hover item-2691"><a  href="#">Media Centre</a>
<ul class="dw-sub-menu">
<li id="menu-item-2370" class="menu-item menu-item-type-post_type menu-item-object-page dw-mega-menu-hover item-2370"><a  href="/media/news">News</a></li>
<li id="menu-item-2692" class="menu-item menu-item-type-post_type menu-item-object-page dw-mega-menu-hover item-2692"><a  href="/media/press-releases">Press Releases</a></li>
<li id="menu-item-2700" class="menu-item menu-item-type-post_type menu-item-object-page dw-mega-menu-hover item-2700"><a  href="/media/careers">Careers</a></li>
<li id="menu-item-2695" class="menu-item menu-item-type-post_type menu-item-object-page dw-mega-menu-hover item-2695"><a  href="/media/publications">Publications</a></li>
<li id="menu-item-2701" class="menu-item menu-item-type-post_type menu-item-object-page dw-mega-menu-hover item-2701"><a  href="/media/tenders">Tenders</a></li>
</ul>
</li>
<li id="menu-item-2332" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout dw-mega-menu-hover item-2332"><a  href="https://www.zamra.co.zm/contact-us/">Contact</a></li>
</ul>						
                <div class="extras">
                    
                    <div class="social-icons"><a href="#" data-tooltip="https://www.facebook.com/zamra.zm" target="_blank"><i class="fa fa-facebook-f"></i></a><a href="#" data-tooltip="" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" data-tooltip="" target="_blank"><i class="fa fa-youtube-play"></i></a><a href="https://api.whatsapp.com/send?phone=260763784047" data-tooltip="" target="_blank"><i class="fa fa-whatsapp"></i></a></div>						</div>

                    <a href="javascript:;" data-target="off-canvas-right" class="off-canvas-toggle">
<span></span>
</a>

            </nav>
        
        
    </div>			
</div>