<div id="content-body" class="content-body">
    <div class="content-body-inner wrap">
            <!-- The main content -->
            <main id="main-content" class="main-content" itemprop="mainContentOfPage">
                <div class="main-content-inner">					<div class="content">
<div class="wpb-content-wrapper"><div style="" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
<!-- START Mainsite REVOLUTION SLIDER 6.6.11 --><p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
<rs-module id="rev_slider_1_1" style="" data-version="6.6.11">
    <rs-slides style="overflow: hidden; position: absolute;">
        <rs-slide style="position: absolute;" data-key="rs-15" data-title="Slide" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
            <img fetchpriority="high" decoding="async" src="//www.zamra.co.zm/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="" title="About_ZAMRA" width="1360" height="824" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="//www.zamra.co.zm/wp-content/uploads/2023/03/About_ZAMRA.jpg" data-no-retina>
<!--
            --><rs-layer
                id="slider-1-slide-15-layer-0" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:330px;y:82px;"
                data-text="w:normal;s:50;l:47;fw:700;"
                data-dim="h:260px;"
                data-frame_1="x:23px;y:101px;"
                data-frame_999="o:0;st:w;"
                style="z-index:8;font-family:'Roboto';"
            >Client Satisfaction <br />Survey 
            </rs-layer><!--

            --><rs-layer
                id="slider-1-slide-15-layer-1" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="y:c;yo:65px;"
                data-text="s:52;l:57;fw:200;a:inherit;"
                data-frame_0="o:1;"
                data-frame_0_sfx="se:blocktoright;"
                data-frame_1="e:power4.inOut;sp:2000;"
                data-frame_1_sfx="se:blocktoright;"
                data-frame_999="o:0;st:w;sR:7000;"
                style="z-index:6;font-family:'Poppins';text-transform:uppercase;"
            > 
            </rs-layer><!--

            --><a
                id="slider-1-slide-15-layer-3" 
                class="rs-layer rev-btn"
                href="https://forms.gle/c67Wnzheex4Vjvsn8" target="_self"
                data-type="button"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:367px;y:246px;"
                data-text="w:normal;s:20;l:50;fw:500;"
                data-dim="minh:0px;"
                data-actions='o:click;a:menulink;target:_self;url:https://forms.gle/c67Wnzheex4Vjvsn8;sp:300;e:none;'
                data-padding="r:25;l:25;"
                data-border="bos:solid;boc:rgba(255,255,255,0.35);bow:1px,1px,1px,1px;bor:25px,25px,25px,25px;"
                data-frame_1="x:12px;y:62px;"
                data-frame_999="o:0;st:w;"
                data-frame_hover="bgc:rgba(0,0,0,0);boc:rgba(255,255,255,0.75);bor:25px,25px,25px,25px;bos:solid;bow:1px,1px,1px,1px;e:power1.inOut;"
                style="z-index:9;font-family:'Roboto';"
            >Submit response 
            </a><!--

            --><rs-layer
                id="slider-1-slide-15-layer-4" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:552px;y:240px;"
                data-text="w:normal;s:50;l:40;fw:700;"
                data-frame_999="o:0;st:w;"
                style="z-index:7;font-family:'Roboto';"
            ><br />
<br />

            </rs-layer><!--
-->						</rs-slide>
        <rs-slide style="position: absolute;" data-key="rs-12" data-title="Slide" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
            <img decoding="async" src="//www.zamra.co.zm/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="" title="zamra_home_1" width="2000" height="900" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="//www.zamra.co.zm/wp-content/uploads/2023/03/zamra_home_1.jpg" data-no-retina>
<!--
            --><rs-layer
                id="slider-1-slide-12-layer-0" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:36px;y:208px;"
                data-text="w:normal;s:55;l:50;fw:700;"
                data-frame_999="o:0;st:w;"
                style="z-index:8;font-family:'Roboto';"
            >    Licenses and Permits <br />Guidelines 
            </rs-layer><!--

            --><rs-layer
                id="slider-1-slide-12-layer-1" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="y:c;yo:65px;"
                data-text="s:52;l:57;fw:200;a:inherit;"
                data-frame_0="o:1;"
                data-frame_0_sfx="se:blocktoright;"
                data-frame_1="e:power4.inOut;sp:2000;"
                data-frame_1_sfx="se:blocktoright;"
                data-frame_999="o:0;st:w;sR:7000;"
                style="z-index:6;font-family:'Poppins';text-transform:uppercase;"
            > 
            </rs-layer><!--

            --><a
                id="slider-1-slide-12-layer-3" 
                class="rs-layer rev-btn"
                href="https://www.zamra.co.zm/guidelines/" target="_self"
                data-type="button"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:31px;y:319px;"
                data-text="w:normal;s:20;l:50;fw:500;"
                data-dim="minh:0px;"
                data-padding="r:25;l:25;"
                data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;bor:30px,30px,30px,30px;"
                data-frame_999="o:0;st:w;"
                data-frame_hover="bgc:rgba(0,0,0,0);boc:rgba(255,255,255,0.75);bor:25px,25px,25px,25px;bos:solid;bow:1px,1px,1px,1px;e:power1.inOut;"
                style="z-index:9;font-family:'Roboto';"
            >Download Guidelines 
            </a><!--
-->						</rs-slide>
        <rs-slide style="position: absolute;" data-key="rs-14" data-title="Slide" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
            <img decoding="async" src="//www.zamra.co.zm/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="" title="footer_bg" width="2000" height="900" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="//www.zamra.co.zm/wp-content/uploads/2023/03/footer_bg-2.jpg" data-no-retina>
<!--
            --><rs-layer
                id="slider-1-slide-14-layer-0" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:34px;y:169px;"
                data-text="w:normal;s:50;l:47;fw:700;"
                data-frame_999="o:0;st:w;"
                style="z-index:8;font-family:'Roboto';"
            >Use Med Safety app to <br />report adverse effects <br />of medicines 
            </rs-layer><!--

            --><rs-layer
                id="slider-1-slide-14-layer-1" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="y:c;yo:65px;"
                data-text="s:52;l:57;fw:200;a:inherit;"
                data-frame_0="o:1;"
                data-frame_0_sfx="se:blocktoright;"
                data-frame_1="e:power4.inOut;sp:2000;"
                data-frame_1_sfx="se:blocktoright;"
                data-frame_999="o:0;st:w;sR:7000;"
                style="z-index:6;font-family:'Poppins';text-transform:uppercase;"
            > 
            </rs-layer><!--

            --><a
                id="slider-1-slide-14-layer-2" 
                class="rs-layer"
                href="https://play.google.com/store/apps/details?id=com.epidemico.webradr&hl=en&gl=US&pli=1" target="_self"
                data-type="image"
                data-rsp_ch="on"
                data-xy="x:15px;y:311px;"
                data-text="w:normal;"
                data-dim="w:112px;h:112px;"
                data-frame_999="o:0;st:w;"
                style="z-index:10;"
            ><img decoding="async" src="//www.zamra.co.zm/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="" class="tp-rs-img rs-lazyload" width="512" height="512" data-lazyload="//www.zamra.co.zm/wp-content/uploads/2023/03/unnamed.png" data-no-retina> 
            </a><!--

            --><rs-layer
                id="slider-1-slide-14-layer-5" 
                data-type="image"
                data-rsp_ch="on"
                data-xy="x:128px;y:343px;"
                data-text="w:normal;"
                data-dim="w:120px;h:46px;"
                data-frame_999="o:0;st:w;"
                style="z-index:11;"
            ><img decoding="async" src="//www.zamra.co.zm/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="" class="tp-rs-img rs-lazyload" width="646" height="250" data-lazyload="//www.zamra.co.zm/wp-content/uploads/2023/03/en_badge_web_generic.png" data-no-retina> 
            </rs-layer><!--
-->						</rs-slide>
        <rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
            <img decoding="async" src="//www.zamra.co.zm/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="" title="zamra_home_2" width="2000" height="900" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="//www.zamra.co.zm/wp-content/uploads/2023/03/zamra_home_2-1.jpg" data-no-retina>
<!--
            --><rs-layer
                id="slider-1-slide-1-layer-0" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:36px;y:208px;"
                data-text="w:normal;s:55;l:50;fw:700;"
                data-frame_999="o:0;st:w;"
                style="z-index:8;font-family:'Roboto';"
            >Product Registration<br />Guidelines 
            </rs-layer><!--

            --><rs-layer
                id="slider-1-slide-1-layer-1" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="y:c;yo:65px;"
                data-text="s:52;l:57;fw:200;a:inherit;"
                data-frame_0="o:1;"
                data-frame_0_sfx="se:blocktoright;"
                data-frame_1="e:power4.inOut;sp:2000;"
                data-frame_1_sfx="se:blocktoright;"
                data-frame_999="o:0;st:w;sR:7000;"
                style="z-index:6;font-family:'Poppins';text-transform:uppercase;"
            > 
            </rs-layer><!--

            --><a
                id="slider-1-slide-1-layer-3" 
                class="rs-layer rev-btn"
                href="https://www.zamra.co.zm/guidelines" target="_self"
                data-type="button"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:31px;y:319px;"
                data-text="w:normal;s:20;l:50;fw:500;"
                data-dim="minh:0px;"
                data-padding="r:25;l:25;"
                data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;bor:35px,35px,35px,35px;"
                data-frame_999="o:0;st:w;"
                data-frame_hover="bgc:rgba(0,0,0,0);boc:rgba(255,255,255,0.75);bor:25px,25px,25px,25px;bos:solid;bow:1px,1px,1px,1px;e:power1.inOut;"
                style="z-index:9;background-color:rgba(0,0,0,0);font-family:'Roboto';"
            >Download Guidelines 
            </a><!--
-->						</rs-slide>
        <rs-slide style="position: absolute;" data-key="rs-10" data-title="Slide" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
            <img decoding="async" src="//www.zamra.co.zm/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="" title="e-services_slider-" width="2000" height="900" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="//www.zamra.co.zm/wp-content/uploads/2023/03/e-services_slider-.jpg" data-no-retina>
<!--
            --><rs-layer
                id="slider-1-slide-10-layer-0" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:548px;y:171px;"
                data-text="w:normal;s:50;l:47;fw:700;"
                data-frame_999="o:0;st:w;"
                style="z-index:8;font-family:'Roboto';"
            >Regulatory Information <br />Management System 
            </rs-layer><!--

            --><rs-layer
                id="slider-1-slide-10-layer-1" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="y:c;yo:65px;"
                data-text="s:52;l:57;fw:200;a:inherit;"
                data-frame_0="o:1;"
                data-frame_0_sfx="se:blocktoright;"
                data-frame_1="e:power4.inOut;sp:2000;"
                data-frame_1_sfx="se:blocktoright;"
                data-frame_999="o:0;st:w;sR:7000;"
                style="z-index:6;font-family:'Poppins';text-transform:uppercase;"
            > 
            </rs-layer><!--

            --><a
                id="slider-1-slide-10-layer-3" 
                class="rs-layer rev-btn"
                href="auth/login" target="_self"
                data-type="button"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:542px;y:275px;"
                data-text="w:normal;s:20;l:50;fw:500;"
                data-dim="minh:0px;"
                data-actions='o:click;a:menulink;target:_self; url:auth/login; sp:300;e:none;'
                data-padding="r:25;l:25;"
                data-border="bos:solid;boc:rgba(255,255,255,0.35);bow:1px,1px,1px,1px;bor:25px,25px,25px,25px;"
                data-frame_999="o:0;st:w;"
                data-frame_hover="bgc:rgba(0,0,0,0);boc:rgba(255,255,255,0.75);bor:25px,25px,25px,25px;bos:solid;bow:1px,1px,1px,1px;e:power1.inOut;"
                style="z-index:9;font-family:'Roboto';"
            >IRIMS | Login <i class="fa-lock"></i> 
            </a><!--

            --><rs-layer
                id="slider-1-slide-10-layer-4" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:552px;y:240px;"
                data-text="w:normal;s:50;l:40;fw:700;"
                data-frame_999="o:0;st:w;"
                style="z-index:7;font-family:'Roboto';"
            ><br />
<br />

            </rs-layer><!--
-->						</rs-slide>
        <rs-slide style="position: absolute;" data-key="rs-16" data-title="Slide" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
            <img fetchpriority="high" decoding="async" src="//www.zamra.co.zm/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="" title="About_ZAMRA" width="1360" height="824" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="//www.zamra.co.zm/wp-content/uploads/2023/03/About_ZAMRA.jpg" data-no-retina>
<!--
            --><rs-layer
                id="slider-1-slide-16-layer-0" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:548px;y:171px;"
                data-text="w:normal;s:50;l:47;fw:700;"
                data-frame_999="o:0;st:w;"
                style="z-index:8;font-family:'Roboto';"
            >Client Satisfaction <br />Survey 
            </rs-layer><!--

            --><rs-layer
                id="slider-1-slide-16-layer-1" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="y:c;yo:65px;"
                data-text="s:52;l:57;fw:200;a:inherit;"
                data-frame_0="o:1;"
                data-frame_0_sfx="se:blocktoright;"
                data-frame_1="e:power4.inOut;sp:2000;"
                data-frame_1_sfx="se:blocktoright;"
                data-frame_999="o:0;st:w;sR:7000;"
                style="z-index:6;font-family:'Poppins';text-transform:uppercase;"
            > 
            </rs-layer><!--

            --><a
                id="slider-1-slide-16-layer-3" 
                class="rs-layer rev-btn"
                href="https://forms.gle/c67Wnzheex4Vjvsn8" target="_self"
                data-type="button"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:542px;y:275px;"
                data-text="w:normal;s:20;l:50;fw:500;"
                data-dim="minh:0px;"
                data-actions='o:click;a:menulink;target:_self;url:https://forms.gle/c67Wnzheex4Vjvsn8;sp:300;e:none;'
                data-padding="r:25;l:25;"
                data-border="bos:solid;boc:rgba(255,255,255,0.35);bow:1px,1px,1px,1px;bor:25px,25px,25px,25px;"
                data-frame_999="o:0;st:w;"
                data-frame_hover="bgc:rgba(0,0,0,0);boc:rgba(255,255,255,0.75);bor:25px,25px,25px,25px;bos:solid;bow:1px,1px,1px,1px;e:power1.inOut;"
                style="z-index:9;font-family:'Roboto';"
            >Submit response 
            </a><!--

            --><rs-layer
                id="slider-1-slide-16-layer-4" 
                data-type="text"
                data-color="#ffffff"
                data-rsp_ch="on"
                data-xy="x:552px;y:240px;"
                data-text="w:normal;s:50;l:40;fw:700;"
                data-frame_999="o:0;st:w;"
                style="z-index:7;font-family:'Roboto';"
            ><br />
<br />

            </rs-layer><!--
-->						</rs-slide>
    </rs-slides>
</rs-module>
<script>
    setREVStartSize({c: 'rev_slider_1_1',rl:[1240,1024,778,480],el:[470],gw:[1170],gh:[470],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider11"]!==undefined) {window.RS_MODULES.modules["revslider11"].once = false;window.revapi1 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
</script>
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->
</div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid vc_custom_1679413186282 vc_row-has-fill"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
<!-- BEGIN .imagebox -->
<div class="imagebox   vc_custom_1684850106138">

<div class="box-header">
<h3 class="box-title">
<a href="#" target="_blank">
    Licensing and Inspection				</a>
</h3>

    </div>

<div class="box-content"></div>

<div class="box-image">
<a href="#" target="_blank">
                    <div class="box-button button">	
        <span>Find Out More</span><i class="ion-log-in"></i>
    </div>

<img decoding="async" class="" src="/img/license&.jpeg" width="800" height="450" alt="licensing-and-Inspection" title="licensing-and-Inspection" loading="lazy" />			</a>
</div>
</div>
<!-- End .imagebox -->
<div class="vc_empty_space"   style="height: 5px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
<!-- BEGIN .imagebox -->
<div class="imagebox   vc_custom_1684850116588">

<div class="box-header">
<h3 class="box-title">
<a href="#" target="_self">
    Marketing Authorisation				</a>
</h3>

    </div>

<div class="box-content"></div>

<div class="box-image">
<a href="#" target="_self">
                    <div class="box-button button">	
        <span>Find Out More</span><i class="ion-log-in"></i>
    </div>

<img decoding="async" class="" src="/img/marketing1.jpeg" width="800" height="250" alt="Marketing Authrisation" title="Marketing Authrisation" loading="lazy" />			</a>
</div>
</div>
<!-- End .imagebox -->
<div class="vc_empty_space"   style="height: 5px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
<!-- BEGIN .imagebox -->
<div class="imagebox   vc_custom_1684850251309">

<div class="box-header">
<h3 class="box-title">
<a href="#" target="_self">
    Quality Testing				</a>
</h3>

    </div>

<div class="box-content"></div>

<div class="box-image">
<a href="#" target="_self">
                    <div class="box-button button">	
        <span>Find Out More</span><i class="ion-log-in"></i>
    </div>

<img decoding="async" class="" src="/img/quality.jpeg" width="800" height="450" alt="ZAMRA_Lab" title="ZAMRA_Lab" loading="lazy" />			</a>
</div>
</div>
<!-- End .imagebox -->
<div class="vc_empty_space"   style="height: 5px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid vc_custom_1515984066407"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 30px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >NEWS &amp; UPDATES</h2><div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="blog-shortcode  post-thumbnail-cover">

<div class="blog-entries">
            <div class="entries-wrapper content-inner blog-grid" data-grid="{&quot;itemSelector&quot;:&quot;.post&quot;}" data-columns="2">
                            
<div class="post post-3113 type-post status-publish format-standard has-post-thumbnail hentry category-news">
    <div class="post-inner">		
                                    
                                            
                <div class="post-image">
                    <h2 class="post-title">
                        <a href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/">ZAMRA SIGNS A MEMORUNDUM OF UNDERSTANDING WITH THE EGYPTIAN DRUG AUTHORITY (EDA)</a>
                    </h2>
                    <span class="post-categories">
                        <a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>									</span>
                    <a class="featured-image" href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/">
                        <img decoding="async" class="" src="https://www.zamra.co.zm/wp-content/uploads/2024/06/WhatsApp-Image-2024-06-06-at-11.09.14-AM-720x450.jpeg" width="720" height="450" alt="WhatsApp Image 2024-06-06 at 11.09.14 AM" title="WhatsApp Image 2024-06-06 at 11.09.14 AM" loading="lazy" />									</a>
                </div>

            
        
        
                            </div>		
</div>

                
<div class="post post-3081 type-post status-publish format-standard has-post-thumbnail hentry category-news">
    <div class="post-inner">		
                                    
                                            
                <div class="post-image">
                    <h2 class="post-title">
                        <a href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/">DEC AND ZAMRA AGREE ON WAY FORWARD WITH REGARDS THE REGULATION AND CONTROL OF CODEINE CONTAINING COUGH SYRUPS</a>
                    </h2>
                    <span class="post-categories">
                        <a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>									</span>
                    <a class="featured-image" href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/">
                        <img decoding="async" class="" src="https://www.zamra.co.zm/wp-content/uploads/2024/04/IMG-20240410-WA0007-800x450.jpg" width="800" height="450" alt="IMG-20240410-WA0007" title="IMG-20240410-WA0007" loading="lazy" />									</a>
                </div>

            
        
        
                            </div>		
</div>

                
<div class="post post-3077 type-post status-publish format-standard has-post-thumbnail hentry category-news">
    <div class="post-inner">		
                                    
                                            
                <div class="post-image">
                    <h2 class="post-title">
                        <a href="https://www.zamra.co.zm/2024/04/09/zamra-shares-knowledge-on-use-of-online-system-with-medicines-control-authority-of-zimbabwe-mcaz/">ZAMRA SHARES KNOWLEDGE ON USE OF ONLINE SYSTEM WITH MEDICINES CONTROL AUTHORITY OF ZIMBABWE (MCAZ)</a>
                    </h2>
                    <span class="post-categories">
                        <a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>									</span>
                    <a class="featured-image" href="https://www.zamra.co.zm/2024/04/09/zamra-shares-knowledge-on-use-of-online-system-with-medicines-control-authority-of-zimbabwe-mcaz/">
                        <img decoding="async" class="" src="https://www.zamra.co.zm/wp-content/uploads/2024/04/Screenshot_20240409-100032.jpg" width="720" height="373" alt="Screenshot_20240409-100032" title="Screenshot_20240409-100032" loading="lazy" />									</a>
                </div>

            
        
        
                            </div>		
</div>

                
<div class="post post-3069 type-post status-publish format-standard has-post-thumbnail hentry category-news">
    <div class="post-inner">		
                                    
                                            
                <div class="post-image">
                    <h2 class="post-title">
                        <a href="https://www.zamra.co.zm/2024/03/28/zamra-participates-in-pilot-veterinary-global-benchmarking-project/">ZAMRA PARTICIPATES IN PILOT VETERINARY GLOBAL BENCHMARKING PROJECT</a>
                    </h2>
                    <span class="post-categories">
                        <a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>									</span>
                    <a class="featured-image" href="https://www.zamra.co.zm/2024/03/28/zamra-participates-in-pilot-veterinary-global-benchmarking-project/">
                        <img decoding="async" class="" src="https://www.zamra.co.zm/wp-content/uploads/2024/03/20240325110539_IMG_4407-scaled-800x450.jpg" width="800" height="450" alt="20240325110539_IMG_4407" title="20240325110539_IMG_4407" loading="lazy" />									</a>
                </div>

            
        
        
                            </div>		
</div>

                            </div>
</div>
</div><div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-left vc_do_btn" ><a style="background-color:#266c55; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-custom vc_btn3-icon-left" href="https://www.zamra.co.zm/news-blog/" title=""><i class="vc_btn3-icon fas fa-arrow-alt-circle-right"></i> More News Stories</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4"><div class="vc_column-inner"><div class="wpb_wrapper">
<!-- <div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">

<figure class="wpb_wrapper vc_figure">
<a href="https://play.google.com/store/apps/details?id=com.epidemico.webradr&#038;hl=en&#038;gl=US&#038;pli=1" target="_self" class="vc_single_image-wrapper vc_box_border  vc_box_border_grey"><img loading="lazy" decoding="async" width="1070" height="266" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting.jpg" class="vc_single_image-img attachment-full" alt="" title="Medsafety_reporting" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting.jpg 1070w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting-300x75.jpg 300w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting-1024x255.jpg 1024w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting-768x191.jpg 768w" sizes="auto, (max-width: 1070px) 100vw, 1070px" /></a>
</figure>
</div> -->
<div class="vc_empty_space"   style="height: 10px"><span class="vc_empty_space_inner"></span></div>
<!-- <div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">

<figure class="wpb_wrapper vc_figure">
<a href="https://api.whatsapp.com/send?phone=260763784047" target="_self" class="vc_single_image-wrapper vc_box_border  vc_box_border_grey"><img loading="lazy" decoding="async" width="650" height="110" src="https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra.png" class="vc_single_image-img attachment-full" alt="" title="whatsaap icon_zamra" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra.png 650w, https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra-300x51.png 300w" sizes="auto, (max-width: 650px) 100vw, 650px" /></a>
</figure>
</div> -->
<div class="vc_empty_space"   style="height: 10px"><span class="vc_empty_space_inner"></span></div>
<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">

<figure class="wpb_wrapper vc_figure">
<a href="/auth/login" target="_self" class="vc_single_image-wrapper vc_box_border  vc_box_border_grey"><img loading="lazy" decoding="async" width="550" height="390" src="/img/ZEPRA LOGO.png" class="vc_single_image-img attachment-full" alt="" title="online_services" srcset="/img/ZEPRA LOGO.png 550w, /img/ZEPRA LOGO.png 300w" sizes="auto, (max-width: 550px) 100vw, 550px" /></a>
</figure>
</div>
<div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-center vc_do_btn" ><a style="background-color:#1c1c1c; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-custom vc_btn3-icon-left" href="/auth/login" title="" target="_blank"><i class="vc_btn3-icon fas fa-user-lock"></i> IRIMS PORTAL | USER LOGIN</a></div></div></div></div></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid shadow vc_custom_1515983815717 vc_row-has-fill"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 20px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >SAFETY ALERTS FOR MEDICINES AND ALLIED SUBSTANCES.</h2><div class="vc_empty_space"   style="height: 5px"><span class="vc_empty_space_inner"></span></div>
<!-- <div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">

<figure class="wpb_wrapper vc_figure">
<a href="https://api.whatsapp.com/send?phone=260956521094" target="_self" class="vc_single_image-wrapper vc_box_border  vc_box_border_grey"><img loading="lazy" decoding="async" width="650" height="104" src="https://www.zamra.co.zm/wp-content/uploads/2024/06/Pharmacovigillance-Unit-Contact-1.png" class="vc_single_image-img attachment-full" alt="" title="Pharmacovigillance-Unit-Contact" srcset="https://www.zamra.co.zm/wp-content/uploads/2024/06/Pharmacovigillance-Unit-Contact-1.png 650w, https://www.zamra.co.zm/wp-content/uploads/2024/06/Pharmacovigillance-Unit-Contact-1-300x48.png 300w" sizes="auto, (max-width: 650px) 100vw, 650px" /></a>
</figure>
</div> -->
<div class="vc_empty_space"   style="height: 10px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"><p style="font-size: 15px;text-align: justify" class="vc_custom_heading vc_do_custom_heading" >While medicines and vaccines are studied in well controlled clinical trials and reviewed by regulatory authorities with the aim of ensuring benefits outweigh risks, some adverse effects are observed only once the product is authorized by regulators and used by a larger population in real world conditions. It is therefore essential that medical products continue to be monitored for their effectiveness and safety post release.</p><div class="vc_empty_space"   style="height: 40px"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div>	<!-- BEGIN: .projects -->
<div class="projects projects-shortcode projects-grid-alt  ">
<div class="projects-wrap">



<div class="projects-items" data-grid="{&quot;itemSelector&quot;:&quot;.project&quot;}" data-columns="3">

                    <!-- Project -->
    <div class="project post-3208 nproject type-nproject status-publish has-post-thumbnail hentry nproject-category-medical-product-alert">
        <div class="project-inner">
            <figure class="project-thumbnail">
                                                    <div class="project-readmore">
                        <a href="https://www.zamra.co.zm/nproject/medical-product-alert-recall-of-methylated-spirit/"><span></span></a>
                    </div>
                                                <a class="featured-image" href="https://www.zamra.co.zm/nproject/medical-product-alert-recall-of-methylated-spirit/">
                    <span>MEDICAL PRODUCT ALERT: RECALL OF METHYLATED SPIRIT</span>
                    <img loading="lazy" decoding="async" class="" src="https://www.zamra.co.zm/wp-content/uploads/2023/08/alert-1-scaled-1170x650.jpg" width="1170" height="650" alt="alert" title="alert" />								</a>
            </figure>

            <div class="project-info">
                <div class="project-info-inner">
                    <h2 class="project-title" itemprop="name headline">
                        <a href="https://www.zamra.co.zm/nproject/medical-product-alert-recall-of-methylated-spirit/">
                            MEDICAL PRODUCT ALERT: RECALL OF METHYLATED SPIRIT										</a>
                    </h2>

                                                            <div class="project-summary">
                            ZAMRA ALERT_Recall_Methylated Spirit_25112024Download										</div>
                    
                    <div class="project-meta">
                        <a href="https://www.zamra.co.zm/nproject-category/medical-product-alert/" rel="tag">Medical Product Alert</a>									</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Project -->

                    <!-- Project -->
    <div class="project post-3155 nproject type-nproject status-publish has-post-thumbnail hentry nproject-category-medical-product-alert">
        <div class="project-inner">
            <figure class="project-thumbnail">
                                                    <div class="project-readmore">
                        <a href="https://www.zamra.co.zm/nproject/medical-product-alert-no-3-2024-falsified-contaminated-oxymorphone-hydrochloride-40mg-tablets-identified-in-the-who-region-for-europe/"><span></span></a>
                    </div>
                                                <a class="featured-image" href="https://www.zamra.co.zm/nproject/medical-product-alert-no-3-2024-falsified-contaminated-oxymorphone-hydrochloride-40mg-tablets-identified-in-the-who-region-for-europe/">
                    <span>MEDICAL PRODUCT ALERT NO. 3/2024: FALSIFIED (CONTAMINATED) OXYMORPHONE HYDROCHLORIDE 40MG TABLETS IDENTIFIED IN THE WHO REGION FOR EUROPE</span>
                    <img loading="lazy" decoding="async" class="" src="https://www.zamra.co.zm/wp-content/uploads/2023/08/alert-1-scaled-1170x650.jpg" width="1170" height="650" alt="alert" title="alert" />								</a>
            </figure>

            <div class="project-info">
                <div class="project-info-inner">
                    <h2 class="project-title" itemprop="name headline">
                        <a href="https://www.zamra.co.zm/nproject/medical-product-alert-no-3-2024-falsified-contaminated-oxymorphone-hydrochloride-40mg-tablets-identified-in-the-who-region-for-europe/">
                            MEDICAL PRODUCT ALERT NO. 3/2024: FALSIFIED (CONTAMINATED) OXYMORPHONE HYDROCHLORIDE 40MG TABLETS IDENTIFIED IN THE WHO REGION FOR EUROPE										</a>
                    </h2>

                                                            <div class="project-summary">
                            ZAMRA Medical_Product_Alert_3_2024Download										</div>
                    
                    <div class="project-meta">
                        <a href="https://www.zamra.co.zm/nproject-category/medical-product-alert/" rel="tag">Medical Product Alert</a>									</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Project -->

                    <!-- Project -->
    <div class="project post-3147 nproject type-nproject status-publish has-post-thumbnail hentry">
        <div class="project-inner">
            <figure class="project-thumbnail">
                                                    <div class="project-readmore">
                        <a href="https://www.zamra.co.zm/nproject/medical-product-alert-recall-of-furosemide-tablets-bp-40mg-batch-no-tfr222001-skylark/"><span></span></a>
                    </div>
                                                <a class="featured-image" href="https://www.zamra.co.zm/nproject/medical-product-alert-recall-of-furosemide-tablets-bp-40mg-batch-no-tfr222001-skylark/">
                    <span>MEDICAL PRODUCT ALERT : RECALL OF FUROSEMIDE TABLETS BP 40MG BATCH NO. TFR222001 &#8211; SKYLARK</span>
                    <img loading="lazy" decoding="async" class="" src="https://www.zamra.co.zm/wp-content/uploads/2023/08/alert-1-scaled-1170x650.jpg" width="1170" height="650" alt="alert" title="alert" />								</a>
            </figure>

            <div class="project-info">
                <div class="project-info-inner">
                    <h2 class="project-title" itemprop="name headline">
                        <a href="https://www.zamra.co.zm/nproject/medical-product-alert-recall-of-furosemide-tablets-bp-40mg-batch-no-tfr222001-skylark/">
                            MEDICAL PRODUCT ALERT : RECALL OF FUROSEMIDE TABLETS BP 40MG BATCH NO. TFR222001 &#8211; SKYLARK										</a>
                    </h2>

                                                            <div class="project-summary">
                            ZAMRA Alert_Recall_Furosemide Tablets_BN TFR222001_Skylark_31072024Download										</div>
                    
                    <div class="project-meta">
                                                            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Project -->

                
</div>
</div>
</div>
<!-- END: .projects -->
<div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 30px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >PARTNERS</h2><div class="vc_empty_space"   style="height: 20px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper">
<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">

<figure class="wpb_wrapper vc_figure">
<a href="https://www.moh.gov.zm" target="_blank" class="vc_single_image-wrapper vc_box_border  vc_box_border_grey"><img decoding="async" class="vc_single_image-img " src="/partners logos/eiz logo.jpg" width="200" height="200" alt="Ministry of Health" title="Ministry of Health" loading="lazy" /></a>
</figure>
</div>
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper">
<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">

<figure class="wpb_wrapper vc_figure">
<a href="https://www.who.org" target="_blank" class="vc_single_image-wrapper vc_box_border  vc_box_border_grey"><img decoding="async" class="vc_single_image-img " src="/partners logos/ISO logo.png" width="300" height="300" alt="World Health Organisation - WHO" title="World Health Organisation - WHO" loading="lazy" /></a>
</figure>
</div>
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper">
<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">

<figure class="wpb_wrapper vc_figure">
<a href="https://www.hpcz.org.zm" target="_blank" class="vc_single_image-wrapper vc_box_border  vc_box_border_grey"><img decoding="async" class="vc_single_image-img " src="/partners logos/NCC LOGO .jpg" width="200" height="200" alt="HPCZ" title="HPCZ" loading="lazy" /></a>
</figure>
</div>
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper">
<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">

<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border  vc_box_border_grey"><img decoding="async" class="vc_single_image-img " src="/partners logos/zema logo .png" width="200" height="200" alt="NHRA" title="NHRA" loading="lazy" /></div>
</figure>
</div>
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper">
<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">

<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border  vc_box_border_grey"><img decoding="async" class="vc_single_image-img " src="/partners logos/zppa logo.jpeg" width="300" height="300" alt="Pharmaceutical Society of Zambia" title="Pharmaceutical Society of Zambia" loading="lazy" /></div>
</figure>
</div>
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner"><div class="wpb_wrapper">
<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">

<!-- <figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_border  vc_box_border_grey"><img decoding="async" class="vc_single_image-img " src="/partners logos/ZAMMSA.jpg" width="300" height="300" alt="ZAMMSA" title="ZAMMSA" loading="lazy" /></div>
</figure> -->
</div>
<div class="vc_empty_space"   style="height: 30px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></div>
</div>			</div>
<!-- /.content -->

                                    </div>
            <!-- /.main-content-inner -->
        </main>
        <!-- /.main-content -->

            
        </div>
    <!-- /.content-body-inner -->
</div>