<div class="content-bottom-widgets">
    <div class="content-bottom-inner wrap">
        <div class="content-bottom-aside-wrap">
                                <aside data-width="3">
                                    </aside>
                                <aside data-width="3">
                                    </aside>
                                <aside data-width="3">
                                    </aside>
                                <aside data-width="3">
                                    </aside>
                            </div>
    </div>

</div>

        
    <div class="footer-widgets">
    <div class="footer-widgets-inner wrap">
        <div class="footer-aside-wrap">
                                <aside data-width="3">
                <div id="text-15" class="widget-odd widget-last widget-first widget-1 widget widget_text"><h3 class="widget-title">HEAD OFFICE</h3>			<div class="textwidget">
                    <p>Plot No. 2350/M,<br />
Off KK International Airport Road<br />
P. O Box 31890 Lusaka<br />
Tel: +260 211 465 350, +260 211 456 678, +260 211 456 987<br />
Email : coontact@zepra.co.zm</p>
</div>
</div>					</aside>
                                <aside data-width="3">
                <div id="text-21" class="widget-odd widget-last widget-first widget-1 widget widget_text"><h3 class="widget-title">NDOLA OFFICE</h3>			<div class="textwidget">
                    <p>Plot No. 41 Kafironda Drive,<br />
P.O. Box 70876<br />
Ndola – Zambia<br />
</div>
</div>					</aside>
                                <aside data-width="3">
                <div id="text-19" class="widget-odd widget-last widget-first widget-1 widget widget_text"><h3 class="widget-title">CHIPATA OFFICE</h3>			<div class="textwidget">
                    <p>Plot No. 1401,<br />
Pineview Road, Opposite Shoprite, Umodzi Highway<br />
Chipata– Zambia<br />
<!-- Tel: +260 211 432 362</p> -->
</div>
</div>					</aside>
                                <!-- <aside data-width="3">
                <div id="text-24" class="widget-odd widget-last widget-first widget-1 widget widget_text"><h3 class="widget-title">SUB-OFFICES</h3>			<div class="textwidget"><p>Livingstone – +260 211 432 365<br />
Kasama – +260 211 432 368<br />
Nakonde – +260 211 432 366<br />
Chirundu – +260 211 432 364<br />
KKIA – +260 213 325 021<br />
Solwezi – +260 211 432 397</p>
</div>
</div>					</aside> -->
                            </div>
    </div>
</div>
            
    <div class="footer-copyright footer-copyright-left">
    <div class="footer-copyright-inner wrap">
        <div class="copyright-content">
            Copyright © 2023 ZEPRA. Developed  by  <a href="#" target="_blank">  SMARTBUSINESS ZAMBIA </a> <a href="#" target="_blank">				</div>

        <div class="footer-meta">
            <div class="social-icons"><a href="#" data-tooltip="https://www.facebook.com/zamra.zm" target="_blank"><i class="fa fa-facebook-f"></i></a><a href="#" data-tooltip="" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" data-tooltip="" target="_blank"><i class="fa fa-youtube-play"></i></a><a href="https://api.whatsapp.com/send?phone=260763784047" data-tooltip="" target="_blank"><i class="fa fa-whatsapp"></i></a></div>											<div class="go-to-top">
                    <a href="javascript:;"><span>Go to Top</span><i class="fa fa-level-up"></i></a>
                </div>
                            </div>
    </div>
</div>