<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="POS - Bootstrap Admin Template">
<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
<meta name="author" content="Dreamguys - Bootstrap Admin Template">
<meta name="robots" content="noindex, nofollow">
<title>Portal</title>

<link rel="icon" href="/img/logo.png" sizes="32x32" />
<link rel="icon" href="/img/logo.png" sizes="192x192" />
<link rel="apple-touch-icon" href="/img/logo.png" />
<meta name="msapplication-TileImage" content="/img/logo.png" />

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<link rel="stylesheet" href="/assets/css/animate.css">

<link rel="stylesheet" href="/assets/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/modStyles.css">

</head>
<body>
<div id="global-loader">
<div class="whirly-loader"> </div>
</div>

<div class="main-wrapper">

<div class="header">

<div class="header-left active">
<a href="/dashboard" class="logo">
<img src="/assets/img/logo.png" alt="">
</a>
<a href="/dashboard" class="logo-small">
<img src="/assets/img/logo-small.png" alt="">
</a>
<a id="toggle_btn" href="javascript:void(0);">
</a>
</div>

<a id="mobile_btn" class="mobile_btn" href="#sidebar">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
</a>

<ul class="nav user-menu">

<li class="nav-item">
<div class="top-nav-search">
<a href="javascript:void(0);" class="responsive-search">
<i class="fa fa-search"></i>
</a>
<form action="#">
<div class="searchinputs">
<input type="text" placeholder="Search Here ...">
<div class="search-addon">
<span><img src="/assets/img/icons/closes.svg" alt="img"></span>
</div>
</div>
<a class="btn" id="searchdiv"><img src="/assets/img/icons/search.svg" alt="img"></a>
</form>
</div>
</li>



<li id="accountStatus" class="nav-item center text-center"><%=user.accountStatus%></li>

<li class="nav-item dropdown has-arrow main-drop">
<a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
<span class="user-img"><img src="/img/settingsIcon.png" alt="">
<span class="status online"></span></span>
</a>
<div class="dropdown-menu menu-drop-user">
<div class="profilename">
<div class="profileset">
<span class="user-img"><img src="" alt="">
<span class="status online"></span></span>
<div class="profilesets">
<h6><%= user.email %></h6>
<h5>Client Email</h5>
</div>
</div>
<hr class="m-0">
<a class="dropdown-item" href="/dashboard/profileManagement"> <i class="me-2" data-feather="user"></i> My Profile</a>
<hr class="m-0">
<a class="dropdown-item logout pb-0" href="/auth/logout"><img src="/assets/img/icons/log-out.svg" class="me-2" alt="img">Logout</a>
</div>
</div>
</li>
</ul>


<div class="dropdown mobile-user-menu">
<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="profile.html">My Profile</a>
<a class="dropdown-item" href="generalsettings.html">Settings</a>
<a class="dropdown-item" href="/auth/logout">Logout</a>
</div>
</div>

</div>


<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">

<ul>
<li class="active">
<a href="/dashboard"><img src="/assets/img/icons/dashboard.svg" alt="img"><span>Portal</span> </a>
</li>

<li class="submenu">
<a href="javascript:void(0);"><img src="/assets/img/icons/plus-circle.svg" alt="img"><span> Project Listing Application</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/dashboard/newProjectListing">Projects Listing Application</a></li>
<li><a href="/dashboard/projectApplicationProgress">Overall Application Progress</a></li>
<li><a href="/dashboard/premiseLeasing">Premise Leasing Application</a></li>

</ul>
</li>
<li class="submenu">
    <a href="#"><img src="/assets/img/icons/product.svg" alt="img"><span> Engineering Authorization Application</span> <span class="menu-arrow"></span></a>
    <ul>
    <li><a href="/dashboard/newApplication">Apply</a></li>
    <li><a href="/dashboard/submittedApplication">Submitted Applications</a></li>
    <li><a href="/dashboard/reviewProgress">Review Progress</a></li>
    
    </ul>
    </li>
<li class="submenu">
    <a href="javascript:void(0);"><img src="/assets/img/icons/purchase1.svg" alt="img"><span> Compliance</span> <span class="menu-arrow"></span></a>
    <ul>
    <li><a href="/dashboard/newCompliance">New Application</a></li>
    <li><a href="/dashboard/reviewCompliance">Review Application Progress</a></li>
  
    </ul>
    </li>
<li class="submenu">
<a href="javascript:void(0);"><img src="/assets/img/icons/purchase1.svg" alt="img"><span>Engineering Licenses and Certification</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/dashboard/newLicence">Attach Licenses</a></li>
<li><a href="/dashboard/licenceRenewal">Review Licenses</a></li>


</ul>
</li>

<li class="submenu">
<a href="javascript:void(0);"><img src="/assets/img/icons/transfer1.svg" alt="img"><span>Product Certification</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/dashboard/productCertificationApplication">Product Certification Application</a></li>
<li><a href="/dashboard/productCertificationApplications">Sumbitted Applications</a></li>
</ul>
</li>
<li class="submenu">
<a href="javascript:void(0);"><img src="/assets/img/icons/transfer1.svg" alt="img"><span> Environmental & Structural Safety Licenses and Permits</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/dashboard/structuralEnvironmentalLicence">Environmental and Structural Safety Licenses and Permits</a></li>
<li><a href="/dashboard/environmentalAndStructuralLicenceStatus">Application Status</a></li>

</ul>
</li>
<!-- <li class="submenu">
<a href="javascript:void(0);"><img src="/assets/img/icons/return1.svg" alt="img"><span>Local Supply of Resources</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/dashboard/orderForSupply">Order for Supply of Resources</a></li>
</ul>
</li> -->


<!-- <li class="submenu">
<a href="javascript:void(0);"><img src="/assets/img/icons/places.svg" alt="img"><span>Public Awareness & Advertisement</span> <span class="menu-arrow"></span></a>
<ul>

<li><a href="/dashboard/awarenessAdvert">Public Awareness & Advert</a></li>
<li><a href="/dashboard/archivedApplication">Archived Application</a></li>
<li><a href="/dashboard/disposeApplication">Disposal Application</a></li>

</ul>
</li> -->

<li class="submenu">
<a href="javascript:void(0);"><img src="/assets/img/icons/time.svg" alt="img"><span>Account Management</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/dashboard/profileManagement">Account Profile</a></li>
<li><a href="/auth/logout">Logout</a></li>



</ul>
</li>


</ul>
</div>
</div>
</div>

<%- body %>

</div>


<script src="/assets/js/jquery-3.6.0.min.js"></script>

<script src="/assets/js/feather.min.js"></script>

<script src="/assets/js/jquery.slimscroll.min.js"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap4.min.js"></script>

<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/plugins/apexchart/apexcharts.min.js"></script>
<script src="/assets/plugins/apexchart/chart-data.js"></script>

<script src="/assets/js/script.js"></script>

<script>
    function sendDeleteRequest(url) {
        fetch(url, {
            method: 'DELETE',
        })
        .then(response => {
            if (response.ok) {
                alert('Item deleted successfully');
                // Optionally redirect or update UI
            } else {
                alert('Failed to delete item');
            }
        })
        .catch(error => console.error('Error:', error));
    }
    </script>

</body>
</html>