span#accountStatus, #submitForReview{
	display:flex !important; 
	align-items: center;
	justify-content: center;

}

.grnbtn{
	background-color: green !important;
}

#submitForReviewBtn{
	border: green 2px solid;
	border-radius: 4px;
color: green;
background-color: white;
}