<div id="site-content" class="site-content">
				
	<div class="content-header content-header-inline wrap">
		<div class="content-header-inner wrap">
			<div class="page-title-wrap">

									<div class="page-title">
						<h1 class="page-title-inner">News &amp; Blog</h1>					</div>
				
									<div class="breadcrumbs">
						<div class="breadcrumbs-inner">
							<!-- Breadcrumb NavXT 7.2.0 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to ZAMRA." href="https://www.zamra.co.zm" class="home" ><span property="name">ZAMRA</span></a><meta property="position" content="1"></span><span property="itemListElement" typeof="ListItem"><span property="name" class="post-root post post-post current-item">News &#038; Blog</span><meta property="url" content="https://www.zamra.co.zm/news-blog/"><meta property="position" content="2"></span>						</div>
					</div>
				
							</div>
		</div>
	</div>

				<div id="content-body" class="content-body">
					<div class="content-body-inner wrap">
							<!-- The main content -->
							<main id="main-content" class="main-content" itemprop="mainContentOfPage">
								<div class="main-content-inner">						
	<div class="content" role="main" itemprop="mainContentOfPage">
					<div class="content-inner" data-grid-normal data-columns="4">
									
	<div id="post-3113" class="post post-3113 type-post status-publish format-standard has-post-thumbnail hentry category-news">
		<div class="post-inner">
			<div class="post-header">
				
	<h2 class="post-title" itemprop="headline">
					<a href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/" rel="bookmark">
				ZAMRA SIGNS A MEMORUNDUM OF UNDERSTANDING WITH THE EGYPTIAN DRUG AUTHORITY (EDA)			</a>
			</h2>
			</div>

				
	<div class="post-image">
						
			<ul class="post-meta">
			<li class="post-date">
				<span>June 7, 2024</span>
			</li>

			<li class="post-categories">
				<a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>			</li>
			
		</ul>
					
					<a class="featured-image" href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/" target="_self">
				<img class="" src="https://www.zamra.co.zm/wp-content/uploads/2024/06/WhatsApp-Image-2024-06-06-at-11.09.14-AM-720x500.jpeg" width="720" height="500" alt="WhatsApp Image 2024-06-06 at 11.09.14 AM" title="WhatsApp Image 2024-06-06 at 11.09.14 AM" />			</a>
			</div>

			<div class="post-content">
				<p>5TH June, 2024. The Zambia Medicines Regulatory Authority (ZAMRA) has signed a Memorandum of Understanding (MoU) with its Egyptian counterpart, the Eg...</p>
									
	<a class="blog-readmore" href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/" target="_self">
		<span>Read More</span>
	</a>
	
				
									<span class="post-comments">
						<a href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/#respond">0</a>					</span>
							</div>
			
		</div>
	</div>
									
	<div id="post-3081" class="post post-3081 type-post status-publish format-standard has-post-thumbnail hentry category-news">
		<div class="post-inner">
			<div class="post-header">
				
	<h2 class="post-title" itemprop="headline">
					<a href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/" rel="bookmark">
				DEC AND ZAMRA AGREE ON WAY FORWARD WITH REGARDS THE REGULATION AND CONTROL OF CODEINE CONTAINING COUGH SYRUPS			</a>
			</h2>
			</div>

				
	<div class="post-image">
						
			<ul class="post-meta">
			<li class="post-date">
				<span>April 10, 2024</span>
			</li>

			<li class="post-categories">
				<a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>			</li>
			
		</ul>
					
					<a class="featured-image" href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/" target="_self">
				<img class="" src="https://www.zamra.co.zm/wp-content/uploads/2024/04/IMG-20240410-WA0007-900x500.jpg" width="900" height="500" alt="IMG-20240410-WA0007" title="IMG-20240410-WA0007" />			</a>
			</div>

			<div class="post-content">
				<p>The Drug Enforcement Commission (DEC) has visited the Zambia Medicines Regulatory Authority (ZAMRA) to chat the way forward in the effective control o...</p>
									
	<a class="blog-readmore" href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/" target="_self">
		<span>Read More</span>
	</a>
	
				
									<span class="post-comments">
						<a href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/#respond">0</a>					</span>
							</div>
			
		</div>
	</div>
									
	<div id="post-3077" class="post post-3077 type-post status-publish format-standard has-post-thumbnail hentry category-news">
		<div class="post-inner">
			<div class="post-header">
				
	<h2 class="post-title" itemprop="headline">
					<a href="https://www.zamra.co.zm/2024/04/09/zamra-shares-knowledge-on-use-of-online-system-with-medicines-control-authority-of-zimbabwe-mcaz/" rel="bookmark">
				ZAMRA SHARES KNOWLEDGE ON USE OF ONLINE SYSTEM WITH MEDICINES CONTROL AUTHORITY OF ZIMBABWE (MCAZ)			</a>
			</h2>
			</div>

				
	<div class="post-image">
						
			<ul class="post-meta">
			<li class="post-date">
				<span>April 9, 2024</span>
			</li>

			<li class="post-categories">
				<a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>			</li>
			
		</ul>
					
					<a class="featured-image" href="https://www.zamra.co.zm/2024/04/09/zamra-shares-knowledge-on-use-of-online-system-with-medicines-control-authority-of-zimbabwe-mcaz/" target="_self">
				<img class="" src="https://www.zamra.co.zm/wp-content/uploads/2024/04/Screenshot_20240409-100032.jpg" width="720" height="373" alt="Screenshot_20240409-100032" title="Screenshot_20240409-100032" />			</a>
			</div>

			<div class="post-content">
				<p>THE ZAMBIA MEDICINES REGULATORY AUTHORITY (ZAMRA) SHARES KNOWLEDGE ON THE USE OF THE INTEGRATED REGULATORY INFORMATION MANAGEMENT SYSTEM (IRIMS) WITH ...</p>
									
	<a class="blog-readmore" href="https://www.zamra.co.zm/2024/04/09/zamra-shares-knowledge-on-use-of-online-system-with-medicines-control-authority-of-zimbabwe-mcaz/" target="_self">
		<span>Read More</span>
	</a>
	
				
									<span class="post-comments">
						<a href="https://www.zamra.co.zm/2024/04/09/zamra-shares-knowledge-on-use-of-online-system-with-medicines-control-authority-of-zimbabwe-mcaz/#respond">0</a>					</span>
							</div>
			
		</div>
	</div>
									
	<div id="post-3069" class="post post-3069 type-post status-publish format-standard has-post-thumbnail hentry category-news">
		<div class="post-inner">
			<div class="post-header">
				
	<h2 class="post-title" itemprop="headline">
					<a href="https://www.zamra.co.zm/2024/03/28/zamra-participates-in-pilot-veterinary-global-benchmarking-project/" rel="bookmark">
				ZAMRA PARTICIPATES IN PILOT VETERINARY GLOBAL BENCHMARKING PROJECT			</a>
			</h2>
			</div>

				
	<div class="post-image">
						
			<ul class="post-meta">
			<li class="post-date">
				<span>March 28, 2024</span>
			</li>

			<li class="post-categories">
				<a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>			</li>
			
		</ul>
					
					<a class="featured-image" href="https://www.zamra.co.zm/2024/03/28/zamra-participates-in-pilot-veterinary-global-benchmarking-project/" target="_self">
				<img class="" src="https://www.zamra.co.zm/wp-content/uploads/2024/03/20240325110539_IMG_4407-scaled-900x500.jpg" width="900" height="500" alt="20240325110539_IMG_4407" title="20240325110539_IMG_4407" />			</a>
			</div>

			<div class="post-content">
				<p>The Veterinary Medicines Directorate (VMD) from the United Kingdom (UK) has picked the Zambia Medicines Regulatory Authority (ZAMRA) to be part of the...</p>
									
	<a class="blog-readmore" href="https://www.zamra.co.zm/2024/03/28/zamra-participates-in-pilot-veterinary-global-benchmarking-project/" target="_self">
		<span>Read More</span>
	</a>
	
				
									<span class="post-comments">
						<a href="https://www.zamra.co.zm/2024/03/28/zamra-participates-in-pilot-veterinary-global-benchmarking-project/#respond">0</a>					</span>
							</div>
			
		</div>
	</div>
									
	<div id="post-3057" class="post post-3057 type-post status-publish format-standard has-post-thumbnail hentry category-news">
		<div class="post-inner">
			<div class="post-header">
				
	<h2 class="post-title" itemprop="headline">
					<a href="https://www.zamra.co.zm/2024/03/26/members-of-parliament-visit-zamra/" rel="bookmark">
				MEMBERS OF PARLIAMENT VISIT ZAMRA			</a>
			</h2>
			</div>

				
	<div class="post-image">
						
			<ul class="post-meta">
			<li class="post-date">
				<span>March 26, 2024</span>
			</li>

			<li class="post-categories">
				<a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>			</li>
			
		</ul>
					
					<a class="featured-image" href="https://www.zamra.co.zm/2024/03/26/members-of-parliament-visit-zamra/" target="_self">
				<img class="" src="https://www.zamra.co.zm/wp-content/uploads/2024/03/IMG-20240326-WA0015-1.jpg" width="720" height="454" alt="IMG-20240326-WA0015-1" title="IMG-20240326-WA0015-1" />			</a>
			</div>

			<div class="post-content">
				<p>18th March, 2024.



The National Assembly Committee on Health, Community Development and Social Services today engaged the Zambia Medicines Regulator...</p>
									
	<a class="blog-readmore" href="https://www.zamra.co.zm/2024/03/26/members-of-parliament-visit-zamra/" target="_self">
		<span>Read More</span>
	</a>
	
				
									<span class="post-comments">
						<a href="https://www.zamra.co.zm/2024/03/26/members-of-parliament-visit-zamra/#respond">0</a>					</span>
							</div>
			
		</div>
	</div>
									
	<div id="post-3014" class="post post-3014 type-post status-publish format-standard has-post-thumbnail hentry category-news">
		<div class="post-inner">
			<div class="post-header">
				
	<h2 class="post-title" itemprop="headline">
					<a href="https://www.zamra.co.zm/2023/10/20/zamra-recruits-and-trains-part-time-inspectors/" rel="bookmark">
				ZAMRA RECRUITS AND TRAINS PART TIME INSPECTORS			</a>
			</h2>
			</div>

				
	<div class="post-image">
						
			<ul class="post-meta">
			<li class="post-date">
				<span>October 20, 2023</span>
			</li>

			<li class="post-categories">
				<a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>			</li>
			
		</ul>
					
					<a class="featured-image" href="https://www.zamra.co.zm/2023/10/20/zamra-recruits-and-trains-part-time-inspectors/" target="_self">
				<img class="" src="https://www.zamra.co.zm/wp-content/uploads/2023/10/Recruits-scaled-900x500.jpeg" width="900" height="500" alt="Recruits" title="Recruits" />			</a>
			</div>

			<div class="post-content">
				<p>&nbsp;LUSAKA, Monday, October 16, 2023.Thirty-three (33) Part time Inspectors have been recruited and are currently undergoing training to supplement ...</p>
									
	<a class="blog-readmore" href="https://www.zamra.co.zm/2023/10/20/zamra-recruits-and-trains-part-time-inspectors/" target="_self">
		<span>Read More</span>
	</a>
	
				
									<span class="post-comments">
						<a href="https://www.zamra.co.zm/2023/10/20/zamra-recruits-and-trains-part-time-inspectors/#respond">0</a>					</span>
							</div>
			
		</div>
	</div>
									
	<div id="post-2984" class="post post-2984 type-post status-publish format-standard has-post-thumbnail hentry category-news">
		<div class="post-inner">
			<div class="post-header">
				
	<h2 class="post-title" itemprop="headline">
					<a href="https://www.zamra.co.zm/2023/08/31/zamra-vigilance-unit-trains-uth-health-workers-in-medicines-safety-monitoring/" rel="bookmark">
				ZAMRA Vigilance Unit Trains UTH Health Workers in Medicines Safety Monitoring			</a>
			</h2>
			</div>

				
	<div class="post-image">
						
			<ul class="post-meta">
			<li class="post-date">
				<span>August 31, 2023</span>
			</li>

			<li class="post-categories">
				<a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>			</li>
			
		</ul>
					
					<a class="featured-image" href="https://www.zamra.co.zm/2023/08/31/zamra-vigilance-unit-trains-uth-health-workers-in-medicines-safety-monitoring/" target="_self">
				<img class="" src="https://www.zamra.co.zm/wp-content/uploads/2023/08/PCU-e1693503982207.jpg" width="545" height="363" alt="PCU" title="PCU" />			</a>
			</div>

			<div class="post-content">
				<p>Date: 30th August 2023



The ZAMRA’s National Pharmacovigilance Unit has trained 23 healthcare workers (pharmacy, medical and nursing personnel) from...</p>
									
	<a class="blog-readmore" href="https://www.zamra.co.zm/2023/08/31/zamra-vigilance-unit-trains-uth-health-workers-in-medicines-safety-monitoring/" target="_self">
		<span>Read More</span>
	</a>
	
				
									<span class="post-comments">
						<a href="https://www.zamra.co.zm/2023/08/31/zamra-vigilance-unit-trains-uth-health-workers-in-medicines-safety-monitoring/#comments">1</a>					</span>
							</div>
			
		</div>
	</div>
									
	<div id="post-2981" class="post post-2981 type-post status-publish format-standard has-post-thumbnail hentry category-news">
		<div class="post-inner">
			<div class="post-header">
				
	<h2 class="post-title" itemprop="headline">
					<a href="https://www.zamra.co.zm/2023/08/31/zamra-scales-up-awareness-on-allied-substances-in-muchinga-and-northern-provinces/" rel="bookmark">
				ZAMRA scales up awareness on Allied Substances in Muchinga and Northern Provinces			</a>
			</h2>
			</div>

				
	<div class="post-image">
						
			<ul class="post-meta">
			<li class="post-date">
				<span>August 31, 2023</span>
			</li>

			<li class="post-categories">
				<a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>			</li>
			
		</ul>
					
					<a class="featured-image" href="https://www.zamra.co.zm/2023/08/31/zamra-scales-up-awareness-on-allied-substances-in-muchinga-and-northern-provinces/" target="_self">
				<img class="" src="https://www.zamra.co.zm/wp-content/uploads/2023/08/WhatsApp-Image-2023-08-31-at-13.03.31-720x500.jpeg" width="720" height="500" alt="WhatsApp Image 2023-08-31 at 13.03.31" title="WhatsApp Image 2023-08-31 at 13.03.31" />			</a>
			</div>

			<div class="post-content">
				<p>ZAMRA scales up awareness on Allied Substances in Muchinga and Northern Provinces.With the regulatory activities on Allied Substances gaining momentum...</p>
									
	<a class="blog-readmore" href="https://www.zamra.co.zm/2023/08/31/zamra-scales-up-awareness-on-allied-substances-in-muchinga-and-northern-provinces/" target="_self">
		<span>Read More</span>
	</a>
	
				
									<span class="post-comments">
						<a href="https://www.zamra.co.zm/2023/08/31/zamra-scales-up-awareness-on-allied-substances-in-muchinga-and-northern-provinces/#respond">0</a>					</span>
							</div>
			
		</div>
	</div>
									
	<div id="post-2975" class="post post-2975 type-post status-publish format-standard has-post-thumbnail hentry category-news">
		<div class="post-inner">
			<div class="post-header">
				
	<h2 class="post-title" itemprop="headline">
					<a href="https://www.zamra.co.zm/2023/08/25/22nd-august-2023/" rel="bookmark">
				GMP Training Workshop held in Lusaka, Intercontinental Hotel on 22nd August 2023			</a>
			</h2>
			</div>

				
	<div class="post-image">
						
			<ul class="post-meta">
			<li class="post-date">
				<span>August 25, 2023</span>
			</li>

			<li class="post-categories">
				<a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>			</li>
			
		</ul>
					
					<a class="featured-image" href="https://www.zamra.co.zm/2023/08/25/22nd-august-2023/" target="_self">
				<img class="" src="https://www.zamra.co.zm/wp-content/uploads/2023/08/WhatsApp-Image-2023-08-24-at-16.38.53-e1693313707936.jpeg" width="578" height="385" alt="WhatsApp Image 2023-08-24 at 16.38.53" title="WhatsApp Image 2023-08-24 at 16.38.53" />			</a>
			</div>

			<div class="post-content">
				<p>GOOD MANUFACTURING PRACTICE (GMP) KEY IN PHARMACEUTICAL PRODUCTION.&#8220;Good Manufacturing Practices (GMP) in pharmaceutical manufacturing is import...</p>
									
	<a class="blog-readmore" href="https://www.zamra.co.zm/2023/08/25/22nd-august-2023/" target="_self">
		<span>Read More</span>
	</a>
	
				
									<span class="post-comments">
						<a href="https://www.zamra.co.zm/2023/08/25/22nd-august-2023/#respond">0</a>					</span>
							</div>
			
		</div>
	</div>
									
	<div id="post-2915" class="post post-2915 type-post status-publish format-standard has-post-thumbnail hentry category-news">
		<div class="post-inner">
			<div class="post-header">
				
	<h2 class="post-title" itemprop="headline">
					<a href="https://www.zamra.co.zm/2023/08/17/zamra-conducts-pharmacovigilance-training-for-health-workers-from-private-health-facilities/" rel="bookmark">
				ZAMRA Conducts Pharmacovigilance Training For Health Workers From Private Health Facilities			</a>
			</h2>
			</div>

				
	<div class="post-image">
						
			<ul class="post-meta">
			<li class="post-date">
				<span>August 17, 2023</span>
			</li>

			<li class="post-categories">
				<a href="https://www.zamra.co.zm/category/news/" rel="category tag">News</a>			</li>
			
		</ul>
					
					<a class="featured-image" href="https://www.zamra.co.zm/2023/08/17/zamra-conducts-pharmacovigilance-training-for-health-workers-from-private-health-facilities/" target="_self">
				<img class="" src="https://www.zamra.co.zm/wp-content/uploads/2023/08/WhatsApp-Image-2023-08-17-at-08.15.32-e1693504367144.jpeg" width="577" height="384" alt="Phamcovigilance training" title="Phamcovigilance training" />			</a>
			</div>

			<div class="post-content">
				<p>11th August 2023



ZAMRA CONDUCTS PHARMACOVIGILANCE TRAINING FOR HEALTH WORKERS FROM PRIVATE HEALTH FACILITIESThe Zambia Medicines Regulatory Authori...</p>
									
	<a class="blog-readmore" href="https://www.zamra.co.zm/2023/08/17/zamra-conducts-pharmacovigilance-training-for-health-workers-from-private-health-facilities/" target="_self">
		<span>Read More</span>
	</a>
	
				
									<span class="post-comments">
						<a href="https://www.zamra.co.zm/2023/08/17/zamra-conducts-pharmacovigilance-training-for-health-workers-from-private-health-facilities/#respond">0</a>					</span>
							</div>
			
		</div>
	</div>
							</div>

			<nav class="navigation paging-navigation pager-numeric">
			<div class="pagination loop-pagination"><span aria-current="page" class="page-numbers current">1</span>
<a class="page-numbers" href="https://www.zamra.co.zm/news-blog/page/2/">2</a>
<a class="next page-numbers" href="https://www.zamra.co.zm/news-blog/page/2/">Next Page</a></div>
		</nav>			</div>
	<!-- /.content -->
										</div>
							<!-- /.main-content-inner -->
						</main>
						<!-- /.main-content -->

							
						</div>
					<!-- /.content-body-inner -->
				</div>
				<!-- /.content-body -->			
			</div>