<div id="site-content" class="site-content">
				
	<div class="content-header content-header-inline content-header-featured wrap">
		<div class="content-header-inner wrap">
			<div class="page-title-wrap">

									<div class="page-title">
						<h1 class="page-title-inner">Publications</h1>					</div>
				
									<div class="breadcrumbs">
						<div class="breadcrumbs-inner">
							<!-- Breadcrumb NavXT 7.2.0 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to ZAMRA." href="https://www.zamra.co.zm" class="home" ><span property="name">ZAMRA</span></a><meta property="position" content="1"></span><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Publications</span><meta property="url" content="https://www.zamra.co.zm/publications/"><meta property="position" content="2"></span>						</div>
					</div>
				
							</div>
		</div>
	</div>

				<div id="content-body" class="content-body">
					<div class="content-body-inner wrap">
							<!-- The main content -->
							<main id="main-content" class="main-content" itemprop="mainContentOfPage">
								<div class="main-content-inner">					<div class="content">
				<div class="wpb-content-wrapper"><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img fetchpriority="high" decoding="async" width="500" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/06/REPORTING-ADVERSE.jpg" class="vc_single_image-img attachment-full" alt="" title="REPORTING ADVERSE" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/06/REPORTING-ADVERSE.jpg 500w, https://www.zamra.co.zm/wp-content/uploads/2023/06/REPORTING-ADVERSE-250x300.jpg 250w" sizes="(max-width: 500px) 100vw, 500px" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 13px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >Handbook for reporting adverse drug reactions</h2><div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://www.zamra.co.zm/wp-content/uploads/2023/06/ZAMBIA-PHARMACOVIGILANCE-Handbook-March-2020-Edited-June-23.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> Download Document</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img decoding="async" width="500" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/06/PHARMACOVIGILANCE-MANUAL.jpg" class="vc_single_image-img attachment-full" alt="" title="PHARMACOVIGILANCE MANUAL" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/06/PHARMACOVIGILANCE-MANUAL.jpg 500w, https://www.zamra.co.zm/wp-content/uploads/2023/06/PHARMACOVIGILANCE-MANUAL-250x300.jpg 250w" sizes="(max-width: 500px) 100vw, 500px" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 13px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >Pharmacovigilance Reference Manual - 2nd Edition</h2><div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://www.zamra.co.zm/wp-content/uploads/2023/06/ZAMBIA-PHARMACOVIGILANCE-Reference-Manual-March-2020.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> Download Document</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img decoding="async" width="500" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/06/STRATEGIC-pLAN.jpg" class="vc_single_image-img attachment-full" alt="" title="STRATEGIC pLAN" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/06/STRATEGIC-pLAN.jpg 500w, https://www.zamra.co.zm/wp-content/uploads/2023/06/STRATEGIC-pLAN-250x300.jpg 250w" sizes="(max-width: 500px) 100vw, 500px" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 13px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >Zambia Medicines Regulatory Authority 2022 - 2026 Strategic Plan</h2><div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://www.zamra.co.zm/wp-content/uploads/2023/06/ZAMRA-2022-TO-2026-STRATEGIC-PLAN-1.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> Download Document</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img decoding="async" class="vc_single_image-img " src="https://www.zamra.co.zm/wp-content/uploads/2023/06/PORTAL-MANUAL.jpg" width="500" height="600" alt="PORTAL MANUAL" title="PORTAL MANUAL" loading="lazy" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 13px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >ZAMRA - IRIMS Self Service Portal Manual</h2><div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://www.zamra.co.zm/wp-content/uploads/2023/06/Self-Service-Portal-Manual-final-1.pdf" title=""><i class="vc_btn3-icon fas fa-file-pdf"></i> Download Document</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 40px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img loading="lazy" decoding="async" width="1386" height="782" src="https://www.zamra.co.zm/wp-content/uploads/2023/07/Publication-PU.png" class="vc_single_image-img attachment-full" alt="" title="Publication PU" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/07/Publication-PU.png 1386w, https://www.zamra.co.zm/wp-content/uploads/2023/07/Publication-PU-300x169.png 300w, https://www.zamra.co.zm/wp-content/uploads/2023/07/Publication-PU-1024x578.png 1024w, https://www.zamra.co.zm/wp-content/uploads/2023/07/Publication-PU-768x433.png 768w" sizes="auto, (max-width: 1386px) 100vw, 1386px" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 13px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >Dolutegravir and Treatment Noncompliance</h2><div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://www.zamra.co.zm/wp-content/uploads/2023/07/Presentation-on-Treatment-Noncompliance-and-DTG-at-the-2023-PSZ-Scientific-Conference.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> Download Document</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img decoding="async" class="vc_single_image-img " src="https://www.zamra.co.zm/wp-content/uploads/2023/09/PV-e1693923808576-500x300.png" width="500" height="300" alt="PV" title="PV" loading="lazy" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 13px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >MOH HIV/TB ECHO</h2><div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://www.zamra.co.zm/wp-content/uploads/2023/07/Presentation-on-Treatment-Noncompliance-and-DTG-at-the-2023-PSZ-Scientific-Conference.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> Download Document</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img decoding="async" class="vc_single_image-img " src="https://www.zamra.co.zm/wp-content/uploads/2024/04/medicines_monitor-1-500x300.jpg" width="500" height="300" alt="medicines_monitor" title="medicines_monitor" loading="lazy" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 13px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >ZAMRA Medicines Monitor 3rd Edition</h2><div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://www.zamra.co.zm/wp-content/uploads/2024/04/Monitor-2023-Edition-V1.pdf" title=""><i class="vc_btn3-icon far fa-file-pdf"></i> Download Document</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img decoding="async" class="vc_single_image-img " src="https://www.zamra.co.zm/wp-content/uploads/2024/05/ZAMRA-Service-Delivery-Charter-Img-500x300.png" width="500" height="300" alt="ZAMRA Service Delivery Charter Img" title="ZAMRA Service Delivery Charter Img" loading="lazy" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 13px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >ZAMRA SERVICE DELIVERY CHARTER</h2><div class="vc_empty_space"   style="height: 14px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container vc_btn3-inline vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://www.zamra.co.zm/wp-content/uploads/2024/05/ZAMRA-SERVICE-DELIVERY-CHARTER.pdf" title=""><i class="vc_btn3-icon fas fa-file-pdf"></i> Download Document</a></div></div></div></div></div></div>
</div>			</div>
			<!-- /.content -->

													</div>
							<!-- /.main-content-inner -->
						</main>
						<!-- /.main-content -->

							
						</div>
					<!-- /.content-body-inner -->
				</div>
				<!-- /.content-body -->			
			</div>