<div id="site-content" class="site-content">
				
	<div class="content-header content-header-inline content-header-featured wrap">
		<div class="content-header-inner wrap">
			<div class="page-title-wrap">

									<div class="page-title">
						<!-- <h1 class="page-title-inner">e-services portal</h1>					</div> -->
				
									<div class="breadcrumbs">
						<div class="breadcrumbs-inner">
							<!-- Breadcrumb NavXT 7.2.0 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to ZAMRA." href="https://www.zamra.co.zm" class="home" ><span property="name">ZAMRA</span></a><meta property="position" content="1"></span><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">e-services portal</span><meta property="url" content="https://www.zamra.co.zm/e-services-portal/"><meta property="position" content="2"></span>						</div>
					</div>
				
							</div>
		</div>
	</div>

				<div id="content-body" class="content-body">
					<div class="content-body-inner wrap">
							<!-- The main content -->
							<main id="main-content" class="main-content" itemprop="mainContentOfPage">
								<div class="main-content-inner">					<div class="content">
				<!-- <div class="wpb-content-wrapper"><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 25px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >e-SERVICES PROVIDED</h2><div class="vc_empty_space"   style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-left vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-block vc_btn3-icon-left vc_btn3-color-grey" href="https://app.zamra.co.zm:42882/portal/#/public/app-home" title=""><i class="vc_btn3-icon far fa-arrow-alt-circle-right"></i> Application for Import and Export Permit</a></div><div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-left vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-block vc_btn3-icon-left vc_btn3-color-grey" href="https://app.zamra.co.zm:42882/portal/#/public/app-home" title=""><i class="vc_btn3-icon far fa-arrow-alt-circle-right"></i> Premise Registration</a></div><div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-left vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-block vc_btn3-icon-left vc_btn3-color-grey" href="https://app.zamra.co.zm:42882/portal/#/public/app-home" title=""><i class="vc_btn3-icon far fa-arrow-alt-circle-right"></i> Marketing Authorisation</a></div><div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-left vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-block vc_btn3-icon-left vc_btn3-color-grey" href="https://app.zamra.co.zm:42882/portal/#/public/app-home" title=""><i class="vc_btn3-icon far fa-arrow-alt-circle-right"></i> Dangerous Good and Substances Permit</a></div><div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-left vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-block vc_btn3-icon-left vc_btn3-color-grey" href="https://app.zamra.co.zm:42882/portal/#/public/app-home" title=""><i class="vc_btn3-icon far fa-arrow-alt-circle-right"></i> Clinical Trial Application</a></div><div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-left vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-block vc_btn3-icon-left vc_btn3-color-grey" href="https://app.zamra.co.zm:42882/portal/#/public/app-home" title=""><i class="vc_btn3-icon far fa-arrow-alt-circle-right"></i> Application for Disposal of Medicines and Alied Substances</a></div><div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-left vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-block vc_btn3-icon-left vc_btn3-color-grey" href="https://app.zamra.co.zm:42882/portal/#/public/app-home" title=""><i class="vc_btn3-icon far fa-arrow-alt-circle-right"></i> Promotional and Advertisement</a></div><div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-left vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-block vc_btn3-icon-left vc_btn3-color-grey" href="https://primaryreporting.who-umc.org/ZM" title=""><i class="vc_btn3-icon far fa-arrow-alt-circle-right"></i> Adverse Drug Reaction Reporting</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element"> -->
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey">
				<img fetchpriority="high" decoding="async" width="550" height="390" src="/img/ZEPRA LOGO.png" class="vc_single_image-img attachment-full" alt="" title="online_services" srcset="/img/ZEPRA LOGO.png 550w, /img/ZEPRA LOGO.png 300w" sizes="(max-width: 550px) 100vw, 550px" /></div>
		</figure>
	</div>
<div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-center vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-block vc_btn3-icon-left vc_btn3-color-inverse" href="/auth/login" title=""><i class="vc_btn3-icon fas fa-user-lock"></i> IRIMS | User Login</a></div>
<!-- <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-center vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-block vc_btn3-icon-left vc_btn3-color-inverse" href="https://app.zamra.co.zm:42882/portal/#/public/app-home" title="" target="_blank"><i class="vc_btn3-icon fas fa-user-lock"></i> IRIMS | User Login - Alternative Link</a></div> -->
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
<!-- 		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img decoding="async" width="1070" height="266" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting.jpg" class="vc_single_image-img attachment-full" alt="" title="Medsafety_reporting" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting.jpg 1070w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting-300x75.jpg 300w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting-1024x255.jpg 1024w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting-768x191.jpg 768w" sizes="(max-width: 1070px) 100vw, 1070px" /></div>
		</figure> -->
	</div>
</div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></div>
</div>			</div>
			<!-- /.content -->

													</div>
							<!-- /.main-content-inner -->
						</main>
						<!-- /.main-content -->

							
			<!-- <aside class="main-sidebar">
			<div class="main-sidebar-inner">
				<div id="nav_menu-12" class="widget-odd widget-first widget-1 style1 widget widget_nav_menu"><h3 class="widget-title">ALERTS AND PRODUCT RECALLS</h3><div class="menu-case-studies-container"><ul id="menu-case-studies" class="menu dw-mega-menu-transition-default"><li id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-nproject menu-flyout dw-mega-menu-hover item-417"><a  href="https://www.zamra.co.zm/nproject/recall-of-estradiol-benzoate-1-mg-ml-injection-for-veterinary-use-20-ml-batch-no-1122210-and-100-ml-batch-no-1152210/">Recall of Estradiol Benzoate</a></li>
<li id="menu-item-418" class="menu-item menu-item-type-post_type menu-item-object-nproject menu-flyout dw-mega-menu-hover item-418"><a  href="https://www.zamra.co.zm/nproject/med-safety-update/">Med Safety Update</a></li>
</ul></div></div>
		<div id="recent-posts-7" class="widget-even widget-last widget-2 widget widget_recent_entries">
		<h3 class="widget-title">Latest Updates</h3>
		<ul>
											<li>
					<a href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/">ZAMRA SIGNS A MEMORUNDUM OF UNDERSTANDING WITH THE EGYPTIAN DRUG AUTHORITY (EDA)</a>
											<span class="post-date">June 7, 2024</span>
									</li>
											<li>
					<a href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/">DEC AND ZAMRA AGREE ON WAY FORWARD WITH REGARDS THE REGULATION AND CONTROL OF CODEINE CONTAINING COUGH SYRUPS</a>
											<span class="post-date">April 10, 2024</span>
									</li>
					</ul>

		</div>			</div>
		</aside> -->
		<!-- /.sidebar -->
						</div>
					<!-- /.content-body-inner -->
				</div>
				<!-- /.content-body -->			
			</div>