<div id="site-content" class="site-content">
				
	<div class="content-header content-header-inline content-header-featured wrap">
		<div class="content-header-inner wrap">
			<div class="page-title-wrap">

									<div class="page-title">
						<h1 class="page-title-inner">Registers</h1>					</div>
				
									<div class="breadcrumbs">
						<div class="breadcrumbs-inner">
							<!-- Breadcrumb NavXT 7.2.0 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to ZAMRA." href="https://www.zamra.co.zm" class="home" ><span property="name">ZAMRA</span></a><meta property="position" content="1"></span><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Registers</span><meta property="url" content="https://www.zamra.co.zm/registers/"><meta property="position" content="2"></span>						</div>
					</div>
				
							</div>
		</div>
	</div>

				<div id="content-body" class="content-body">
					<div class="content-body-inner wrap">
							<!-- The main content -->
							<main id="main-content" class="main-content" itemprop="mainContentOfPage">
								<div class="main-content-inner">					<div class="content">
				<div class="wpb-content-wrapper"><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 25px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >MARKETING AUTHORISATION REGISTERS</h2><div class="vc_empty_space"   style="height: 40px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img fetchpriority="high" decoding="async" width="450" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/06/Human-Medicines-Register.jpg" class="vc_single_image-img attachment-full" alt="" title="Human Medicines Register" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/06/Human-Medicines-Register.jpg 450w, https://www.zamra.co.zm/wp-content/uploads/2023/06/Human-Medicines-Register-225x300.jpg 225w" sizes="(max-width: 450px) 100vw, 450px" /></div>
		</figure>
	</div>
<div class="vc_btn3-container vc_btn3-center vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://app.zamra.co.zm:42882/portal/#/public/registered-medicines" title=""><i class="vc_btn3-icon far fa-eye"></i> VIEW REGISTER</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img decoding="async" width="450" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/06/Allid-Substances.jpg" class="vc_single_image-img attachment-full" alt="" title="Allid Substances" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/06/Allid-Substances.jpg 450w, https://www.zamra.co.zm/wp-content/uploads/2023/06/Allid-Substances-225x300.jpg 225w" sizes="(max-width: 450px) 100vw, 450px" /></div>
		</figure>
	</div>
<div class="vc_btn3-container vc_btn3-center vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://app.zamra.co.zm:42882/portal/#/public/registered-alliedproducts" title="" target="_blank"><i class="vc_btn3-icon far fa-eye"></i> VIEW REGISTER</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img decoding="async" width="450" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/06/Vet-Medicines-Register.jpg" class="vc_single_image-img attachment-full" alt="" title="Vet Medicines Register" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/06/Vet-Medicines-Register.jpg 450w, https://www.zamra.co.zm/wp-content/uploads/2023/06/Vet-Medicines-Register-225x300.jpg 225w" sizes="(max-width: 450px) 100vw, 450px" /></div>
		</figure>
	</div>
<div class="vc_btn3-container vc_btn3-center vc_do_btn" ><button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black"><i class="vc_btn3-icon far fa-eye"></i> VIEW REGISTER</button></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 40px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 25px;text-align: left" class="vc_custom_heading vc_do_custom_heading" >REGISTERS OF PREMISES / ESTABLISHMENTS</h2><div class="vc_empty_space"   style="height: 40px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div><div style="" class="vc_row wpb_row vc_row-fluid"><div class="row-inner"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://app.zamra.co.zm:42882/portal/#/public/hospital-retail-pharmacy" target="_self" class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img loading="lazy" decoding="async" width="450" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/REGISTER_Retails.jpg" class="vc_single_image-img attachment-full" alt="" title="REGISTER_Retails" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/03/REGISTER_Retails.jpg 450w, https://www.zamra.co.zm/wp-content/uploads/2023/03/REGISTER_Retails-225x300.jpg 225w" sizes="auto, (max-width: 450px) 100vw, 450px" /></a>
		</figure>
	</div>
<div class="vc_btn3-container vc_btn3-center vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://app.zamra.co.zm:42882/portal/#/public/hospital-retail-pharmacy" title=""><i class="vc_btn3-icon far fa-eye"></i> VIEW REGISTER</a></div>
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://app.zamra.co.zm:42882/portal/#/public/hospital-retail-pharmacy" target="_self" class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img loading="lazy" decoding="async" width="450" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/06/Health-Shops-Register.jpg" class="vc_single_image-img attachment-full" alt="" title="Health Shops Register" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/06/Health-Shops-Register.jpg 450w, https://www.zamra.co.zm/wp-content/uploads/2023/06/Health-Shops-Register-225x300.jpg 225w" sizes="auto, (max-width: 450px) 100vw, 450px" /></a>
		</figure>
	</div>
<div class="vc_btn3-container vc_btn3-center vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://app.zamra.co.zm:42882/portal/#/public/health-shops" title=""><i class="vc_btn3-icon far fa-eye"></i> VIEW REGISTER</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="https://app.zamra.co.zm:42882/portal/#/public/pharmaceutical-license" target="_blank" class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img loading="lazy" decoding="async" width="450" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/REGISTER_warehouse.jpg" class="vc_single_image-img attachment-full" alt="" title="REGISTER_warehouse" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/03/REGISTER_warehouse.jpg 450w, https://www.zamra.co.zm/wp-content/uploads/2023/03/REGISTER_warehouse-225x300.jpg 225w" sizes="auto, (max-width: 450px) 100vw, 450px" /></a>
		</figure>
	</div>
<div class="vc_btn3-container vc_btn3-center vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://app.zamra.co.zm:42882/portal/#/public/pharmaceutical-license" title="" target="_blank"><i class="vc_btn3-icon far fa-eye"></i> VIEW REGISTER</a></div>
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img loading="lazy" decoding="async" width="450" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/06/Agrovet-Shops.jpg" class="vc_single_image-img attachment-full" alt="" title="Agrovet Shops" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/06/Agrovet-Shops.jpg 450w, https://www.zamra.co.zm/wp-content/uploads/2023/06/Agrovet-Shops-225x300.jpg 225w" sizes="auto, (max-width: 450px) 100vw, 450px" /></div>
		</figure>
	</div>
<div class="vc_btn3-container vc_btn3-center vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://app.zamra.co.zm:42882/portal/#/public/agro-veterinary" title="" target="_blank"><i class="vc_btn3-icon far fa-eye"></i> VIEW REGISTER</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_outline  vc_box_border_green"><img loading="lazy" decoding="async" width="450" height="600" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/REGISTER_manufacture.jpg" class="vc_single_image-img attachment-full" alt="" title="REGISTER_manufacture" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/03/REGISTER_manufacture.jpg 450w, https://www.zamra.co.zm/wp-content/uploads/2023/03/REGISTER_manufacture-225x300.jpg 225w" sizes="auto, (max-width: 450px) 100vw, 450px" /></div>
		</figure>
	</div>
<div class="vc_btn3-container vc_btn3-center vc_do_btn" ><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-black" href="https://app.zamra.co.zm:42882/portal/#/public/local-compliant-facilities" title=""><i class="vc_btn3-icon far fa-eye"></i> VIEW REGISTER</a></div></div></div></div></div></div>
</div>			</div>
			<!-- /.content -->

													</div>
							<!-- /.main-content-inner -->
						</main>
						<!-- /.main-content -->

							
			<aside class="main-sidebar">
			<div class="main-sidebar-inner">
				<div id="search-2" class="widget-odd widget-first widget-1 widget widget_search"><h3 class="widget-title">Search</h3><form role="search" method="get" class="search-form" action="https://www.zamra.co.zm/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Search" />
			</form></div>
		<div id="recent-posts-5" class="widget-even widget-2 widget widget_recent_entries">
		<h3 class="widget-title">Latest Updates</h3>
		<ul>
											<li>
					<a href="https://www.zamra.co.zm/2024/06/07/zamra-signs-a-memorundum-of-understanding-with-the-egyptian-drug-authority-eda/">ZAMRA SIGNS A MEMORUNDUM OF UNDERSTANDING WITH THE EGYPTIAN DRUG AUTHORITY (EDA)</a>
											<span class="post-date">June 7, 2024</span>
									</li>
											<li>
					<a href="https://www.zamra.co.zm/2024/04/10/dec-and-zamra-agree-on-way-forward-with-regards-the-regulation-and-control-of-codeine-containing-cough-syrups/">DEC AND ZAMRA AGREE ON WAY FORWARD WITH REGARDS THE REGULATION AND CONTROL OF CODEINE CONTAINING COUGH SYRUPS</a>
											<span class="post-date">April 10, 2024</span>
									</li>
					</ul>

		</div><div id="media_image-42" class="widget-odd widget-3 widget widget_media_image"><img width="300" height="75" src="https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-300x75.png" class="image wp-image-2363  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" decoding="async" loading="lazy" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-300x75.png 300w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-1024x255.png 1024w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_-768x191.png 768w, https://www.zamra.co.zm/wp-content/uploads/2023/03/Medsafety_reporting_.png 1070w" sizes="auto, (max-width: 300px) 100vw, 300px" /></div><div id="media_image-40" class="widget-even widget-4 widget widget_media_image"><img width="492" height="821" src="https://www.zamra.co.zm/wp-content/uploads/2023/04/Medsafety_app.jpg" class="image wp-image-2449  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" decoding="async" loading="lazy" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/04/Medsafety_app.jpg 492w, https://www.zamra.co.zm/wp-content/uploads/2023/04/Medsafety_app-180x300.jpg 180w" sizes="auto, (max-width: 492px) 100vw, 492px" /></div><div id="media_image-16" class="widget-odd widget-5 widget widget_media_image"><img width="650" height="110" src="https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra.png" class="image wp-image-2586  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" decoding="async" loading="lazy" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra.png 650w, https://www.zamra.co.zm/wp-content/uploads/2023/05/whatsaap-icon_zamra-300x51.png 300w" sizes="auto, (max-width: 650px) 100vw, 650px" /></div><div id="media_image-43" class="widget-even widget-last widget-6 widget widget_media_image"><img width="300" height="51" src="https://www.zamra.co.zm/wp-content/uploads/2023/05/Pharmacovigillance-Unit-Contact-300x51.png" class="image wp-image-2648  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" decoding="async" loading="lazy" srcset="https://www.zamra.co.zm/wp-content/uploads/2023/05/Pharmacovigillance-Unit-Contact-300x51.png 300w, https://www.zamra.co.zm/wp-content/uploads/2023/05/Pharmacovigillance-Unit-Contact.png 650w" sizes="auto, (max-width: 300px) 100vw, 300px" /></div>			</div>
		</aside>
		<!-- /.sidebar -->
						</div>
					<!-- /.content-body-inner -->
				</div>
				<!-- /.content-body -->			
			</div>