<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Business Closure Application</h4>
                <h6>Submit a request for business closure</h6>
            </div>
        </div>


        
        <%- include(`../../partials/notification`) %>
      

        <div class="card">
            <div class="card-body">
                <form method="post" action="/dashboard/businessClosure" enctype="multipart/form-data">
                    <div class="row">
                        <!-- Business Information -->
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Business Name</label>
                                <input type="text" name="businessName" class="form-control" placeholder="Enter Business Name">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Licence ID</label>
                                <input type="text" name="licenseID" class="form-control" placeholder="Enter Licence ID">
                            </div>
                        </div>

                        <!-- Closure Reason -->
                        <div class="col-lg-12 col-12">
                            <div class="form-group">
                                <label>Reason for Closure</label>
                                <textarea class="form-control" name="reasonForClosure" placeholder="Explain why you are closing the business"></textarea>
                            </div>
                        </div>

                        <!-- Closure Date -->
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Closure Date</label>
                                <input type="date" name="closureDate" class="form-control">
                            </div>
                        </div>

                        <!-- Final Financial Statement -->
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Final Financial Statement</label>
                                <div class="image-upload">
                                    <input type="file" name="finalFinancialStatement">
                                    <div class="image-uploads">
                                        <img src="/assets/img/icons/upload.svg" alt="img">
                                        <h4>Drag and drop file to upload</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Submit -->
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary">Submit Closure Request</button>
                            <button type="reset" class="btn btn-secondary">Clear Form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

