<div class="page-wrapper">
    

    <%- include(`../../partials/notification`) %>
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h2>Attach Compliance Documentation</h2>
                <h3>Upload the required compliance documents for your application</h2>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form method="post" action="/dashboard/statutoryCompliance" enctype="multipart/form-data">
                    <!-- Compliance Documentation -->
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Zambia Public Procurement Authority (ZPPA)</label>
                                <div class="image-upload">
                                    <input type="file" name="zppaDocument" class="form-control" required>
                                    <div class="image-uploads">
                                        <img src="/assets/img/icons/upload.svg" alt="upload">
                                        <h4>Upload ZPPA Document</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Patents and Companies Registration Agency (PACRA)</label>
                                <div class="image-upload">
                                    <input type="file" name="pacraDocument" class="form-control" required>
                                    <div class="image-uploads">
                                        <img src="/assets/img/icons/upload.svg" alt="upload">
                                        <h4>Upload PACRA Document</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>T-PIN Certificate or Tax Clearance Certificate</label>
                                <div class="image-upload">
                                    <input type="file" name="taxDocument" class="form-control" required>
                                    <div class="image-uploads">
                                        <img src="/assets/img/icons/upload.svg" alt="upload">
                                        <h4>Upload T-PIN/Tax Certificate</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Workers Compensation Fund Control Board</label>
                                <div class="image-upload">
                                    <input type="file" name="workersCompensation" class="form-control" required>
                                    <div class="image-uploads">
                                        <img src="/assets/img/icons/upload.svg" alt="upload">
                                        <h4>Upload Workers Compensation Document</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Energy Regulation Board</label>
                                <div class="image-upload">
                                    <input type="file" name="energyRegulation" class="form-control" required>
                                    <div class="image-uploads">
                                        <img src="/assets/img/icons/upload.svg" alt="upload">
                                        <h4>Upload Energy Regulation Document</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>National Health Insurance Management Authority (NHIMA)</label>
                                <div class="image-upload">
                                    <input type="file" name="nhimaDocument" class="form-control" required>
                                    <div class="image-uploads">
                                        <img src="/assets/img/icons/upload.svg" alt="upload">
                                        <h4>Upload NHIMA Document</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Other Relevant Documents</label>
                                <div class="image-upload">
                                    <input type="file" name="otherDocuments" class="form-control" multiple>
                                    <div class="image-uploads">
                                        <img src="/assets/img/icons/upload.svg" alt="upload">
                                        <h4>Upload Other Documents</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Submit Buttons -->
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-submit me-2">Submit</button>
                            <button type="button" class="btn btn-cancel" onclick="location.href='/dashboard/reviewCompliance'">Review Attachments</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
